.system_brease_StartupProgressBar_style_default {
  background-color: #f2f2f2;
}

.system_brease_StartupProgressBar_style_default .startupProgressBar {
  background-color: #3399ff;
}

.system_brease_StartupProgressBar_style_default .startupProgressBar {
  border-radius: 999px;
}

.system_brease_StartupProgressBar_style_default .startupProgressBar {
  border-width: 1px;
}

.system_brease_StartupProgressBar_style_default .startupProgressBar {
  border-color: black;
}

.system_brease_StartupProgressBar_style_default .startupProgressBar {
  border-style: solid;
}

.system_brease_StartupProgressBar_style_default .preLoadingInfoWrapper .preLoadingInfo {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.system_brease_StartupProgressBar_style_default .preLoadingInfoWrapper .preLoadingInfo {
  color: black;
}

.system_brease_StartupProgressBar_style_default .preLoadingInfoWrapper .preLoadingInfo {
  font-size: 14px;
}
