﻿<script>brease.setOptions("ContentFooter_LanguageSelector1",{"top": 0,"left": 20,"width": 140,"height": 40,"zIndex": 0,"listPosition": "top","className":"widgets/brease/LanguageSelector","parentContentId":"ContentFooter"});
</script><div id="ContentFooter_LanguageSelector1" data-brease-widget="widgets/brease/LanguageSelector"></div>