﻿<script>brease.setOptions("ContentNavigation_Service",{"width": 100,"top": 0,"left": 20,"height": 40,"zIndex": 0,"pageId": "PageRobotService","text": "Service","className":"widgets/brease/NavigationButton","parentContentId":"ContentNavigation"});
brease.setOptions("ContentNavigation_Teaching",{"width": 100,"top": 0,"left": 130,"height": 40,"zIndex": 1,"pageId": "PageRobotTeaching","text": "Teaching","className":"widgets/brease/NavigationButton","parentContentId":"ContentNavigation"});
</script><div id="ContentNavigation_Service" data-brease-widget="widgets/brease/NavigationButton"></div><div id="ContentNavigation_Teaching" data-brease-widget="widgets/brease/NavigationButton"></div>