﻿<script>brease.setOptions("DialogLogin_Login1",{"height": 160,"top": 40,"left": 40,"width": 340,"zIndex": 0,"buttonLabel": "$IAT/Button.Login","buttonStyle": "Command","labelStyle": "Caption","messageStyle": "Caption","className":"widgets/brease/Login","parentContentId":"DialogLogin"});
</script><div id="DialogLogin_Login1" data-brease-widget="widgets/brease/Login"></div>