﻿<script>brease.setOptions("Login_LoginInfo1",{"top": 20,"left": 120,"width": 140,"height": 40,"zIndex": 0,"textAlign": "right","padding": "0px 0px 0px 15px","visible": false,"className":"widgets/brease/LoginInfo","parentContentId":"Login"});
brease.setOptions("Login_LogoutButton1",{"width": 100,"height": 30,"top": 60,"left": 160,"zIndex": 1,"text": "$IAT/Button.Logout","visible": false,"className":"widgets/brease/LogoutButton","parentContentId":"Login"});
brease.setOptions("Login_Image1",{"top": 20,"left": 59,"width": 40,"height": 40,"zIndex": 2,"image": "Media/SymbolLib/User/User.svg","visible": false,"className":"widgets/brease/Image","parentContentId":"Login"});
</script><label id="Login_LoginInfo1" data-brease-widget="widgets/brease/LoginInfo"></label><div id="Login_LogoutButton1" data-brease-widget="widgets/brease/LogoutButton"></div><div id="Login_Image1" data-brease-widget="widgets/brease/Image"></div>