﻿<script>brease.setOptions("RobotTeachingTitle_LabelRobotTeachingTitle",{"top": 20,"left": 0,"width": 400,"height": 80,"zIndex": 0,"text": "$IAT/RobotTeaching.PageTitle","borderWidth": "0px 0px 0px 4px","borderColor": "rgba(248, 152, 37, 1)","borderStyle": "solid","textColor": "rgba(248, 152, 37, 1)","fontSize": "24px","bold": false,"padding": "5px 15px","style": "Title1","className":"widgets/brease/Label","parentContentId":"RobotTeachingTitle"});
</script><label id="RobotTeachingTitle_LabelRobotTeachingTitle" data-brease-widget="widgets/brease/Label"></label>