.widgets_brease_Login_style_default{width:300px;height:160px;border-style:none;border-width:2px;border-radius:0px;background-color:transparent;border-color:#5B7C70;opacity:1;margin:0px;box-shadow:none}
