<HEAD>
    <TITLE>The KANJIDIC Home Page</TITLE>
    <style>
        * {
            pointer-events: none;
        }
    </style>
</HEAD>
<BODY BGCOLOR="white">
    <center>
        <h2> The Home Page of the</h2>
        <H1>KANJIDIC/KANJD212</H1>
        <h2>Project</h2>
    </center>
    <em>
        The following is summary information about <b>KANJIDIC</b> and
        <b>KANJD212</b> Kanji database files. For complete documentation, see the <A HREF="kanjidic_doc.html">kanjidic</A> and <A HREF="kanjd212_doc.html">kanjd212</A> documentation files.
    </em>
    <p><b>Introduction</b>
    <p>
        The <b>KANJIDIC</b> file contains comprehensive information
        about Japanese kanji. It is  a  text file
        with one line for each  of the 6,355 kanji specified in the
        JIS X 0208-1990  set, plus a header line.  (For information
        about this set,  see Appendix A of the documentation file.)
    <p>
        The <b>KANJD212</b> file is also a text file containing comprehensive
        information about the
        5,801 kanji in the JIS X 0212-1990 supplementary character set.
    <p>
        The files have been compiled and maintained by
        <A HREF="http://nihongo.monash.edu/index.html">Jim Breen</A>,
        and were cited as references used in the compilation of the new
        edition of the Nelson character dictionary.
    <p>
    <P>
        <B>KANJIDIC2</B>
    <p>
        The KANJIDIC2 file, which is an XML-format version of
        the data in KANJIDIC and KANJD212 is now available. The KANJIDIC2 page
        is <a href="http://nihongo.monash.edu/kanjidic2">here</a>.
    <p>
        <B>Is it Public Domain?</B>
    </p>
    <P>
        KANJIDIC, KANJD212 and KANJIDIC2 can be freely used provided satisfactory
        acknowledgement is made
        in any software product, server, etc. that uses them. There are a few other
        conditions relating to distributing copies of the files with or without
        modification.  Copyright is vested in the
        <a HREF="http://www.edrdg.org/">EDRG </a>
        (Electronic Dictionary Research Group). You can see the specific
        <a HREF="http://www.edrdg.org/edrdg/licence.html">licence statement </a>
        at the Group's site.
    </P>
    The files are available from the Monash University ftp site
    <A HREF="http://ftp.monash.edu.au/pub/nihongo/kanjidic.gz">here</A> and
    <A HREF="http://ftp.monash.edu.au/pub/nihongo/kanjd212.gz">here</A>.
    <p>
        The information about each kanji consists of:
        <UL>
            <LI>
                coding information about the kanji: including its identification
                in various code-sets (JIS, Unicode), and identifying codes derived
                from its structure (radical, stroke-count, Four-Corner, SKIP);

            <LI>
                lexicographic information about the kanji: pronunciations and
                meanings;

            <LI>
                indexing information providing identification of the kanji in
                several major dictionaries and reference books.
        </UL>
        <b>KANJIDIC</b>  is used now to build the kinfo.dat file which is
        used by JDIC, JREADER, WinJDic  and JWPce.  kinfo.dat  contains  the
        identical information,  but  in  a compressed form and in a
        structure suitable for fast indexed access. <b>KANJIDIC</b>  is
        also  used in its native format by the xjdic and MacJDic dictionary
        programs,  the WWWJDIC server, and a growing number of other programs such as KDRILL and
        KDIC.
    <p>
        The files contains a mixture of ASCII characters and kana/kanji
        encoded using the EUC (Extended Unix Code) coding. The following is
        an example (folded) of one of the entry lines in <b>KANJIDIC</b>;
        the kanji with the meaning "east".
    <p>
        <img src="kdsamp1.gif">
    <p>
        Apart from the first two fields, the information fields
        in each entry have an identifying capital letter. The fields in
        the sample entry are:

        <UL>
            <LI> the kanji itself;

            <LI> the JIS code of the kanji in hexadecimal;

            <LI> [U] the Unicode/ISO 10646 code of the kanji in hexadecimal;

            <LI>
                [N] the index in Nelson (Modern Reader's Japanese-English
                Character Dictionary)

            <LI>
                [B] the classification radical number of the kanji (as in
                Nelson);

            <LI>
                [C] the "classical" radical number (where this differs from
                the one used in Nelson);

            <LI> [S] the total stroke-count of the kanji;

            <LI>
                [G] the "grade" of the kanji, In this case, G2 means it is
                a Jouyou (general use) kanji taught in the second year of elementary
                schooling in Japan;

            <LI>
                [H] the index in Halpern (New Japanese-English Character
                Dictionary);

            <LI>
                [F] the rank-order frequency of occurrence of the kanji in
                Japanese;

            <LI> [P] the "SKIP" coding of the kanji, as used in Halpern;

            <LI>
                [K] the index in the  Gakken  Kanji  Dictionary  (A  New
                Dictionary  of Kanji Usage);

            <LI> [L] the index in Heisig (Remembering The  Kanji);

            <LI> [I] the index in  the  Spahn  &  Hadamitsky  dictionary.

            <LI> [Q] the Four-Corner code;

            <LI>
                [MN,MP] the index and page number in the 13-volume Morohashi
                "DaiKanWaJiten";

            <LI>
                [E] the index in Henshall (A Guide To Remembering Japanese
                Characters);

            <LI> [Y] the PinYin (Chinese) pronunciation(s) of the kanji;

            <LI>
                the Japanese pronunciations or "readings" of the kanji. These
                are in the katakana script for "ON" (i.e of Chinese origin)
                readings, and hiragana for "KUN" (Japanese origin) readings. Thus
    <p>
        <img src="tou.gif">
    <p>
        is the ON reading, and
    <p>
        <img src="higashi.gif">
    <p>
        is the KUN reading. These are optionally followed by a "T" plus one or more
        "nanori", which are the special readings only used with proper names.

        <LI>
            Finally, the meanings associated with the kanji, each
            encapsulated with {...}.

            </UL>

    <p>
        <b>KANJIDIC</b> is available from a number of ftp archive sites around the
        world. The master site is Monash University's <A HREF="http://ftp.monash.edu.au/pub/nihongo/00INDEX.html">
            Nihongo FTP
            Archive
        </A>
        archive, where it is available in .zip and .gz compression. The
        "kinfo.dat" file is in the kinfo26.zip archive.
    <p>
        If you want to explore <b>KANJIDIC</b> using the Web, try my <A HREF="http://nihongo.monash.edu/wwwjdic.html">WWWJDIC</A> server, which supports both KANJIDIC and
        KANJD212. If you don't have a browser with Japanese support, you can use
        a portal which provides graphics of the Japanese characters.
    <p>
        <b>Other Languages</b>
    <p>
        The Spanish version of KANJIDIC, with Spanish meanings translated by
        Francisco Gutierrez.
        It can be downloaded <a href="http://nihongo.monash.edu/kanjidic_es.gz">here</a> or <a href="http://ftp.monash.edu.au/pub/nihongo/kanjidic_es.gz">here</a>. (It
        also is in UTF8 coding.)
    <p>
        There is also a partial French version prepared by Alain Thierion available
        <a href="http://nihongo.monash.edu/kanjidic_fr.gz">here</a>
    <p>
</BODY>
