﻿@import "mixins.scss";
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_Input {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #FFF;
}
&:not(.disabled) {
	border-width: 0px 0px 0px 6px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #646464;
}
	font-size: 20px;
&:not(.active):not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) span {
	color: #FFF;
}
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_InputLarge {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #FFF;
}
&:not(.disabled) {
	border-width: 0px 0px 0px 6px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #646464;
}
	font-size: 32px;
&:not(.active):not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) span {
	color: #FFF;
}
@include font-weight-bold(false);

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_InputCommand {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #646464;
}
&:not(.disabled) {
	border-width: 0px 0px 0px 6px;
}
&:not(.active):not(.disabled) {
	border-color: #d6d6d6;
}
&.active:not(.disabled) {
	border-color: #646464;
}
	font-size: 20px;
&:not(.active):not(.disabled) {
	background-color: #FFF;
}
&.active:not(.disabled) {
	background-color: #646464;
}
&.active:not(.disabled) span {
	color: #FFF;
}
@include font-weight-bold(false);

}
