﻿@import "mixins.scss";
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Orange {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #FF8800;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Black {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #000000;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_LightGray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #d6d6d6;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Gray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #4D4D4D;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_GrayBlue {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #39f;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Orange_Rounded {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: transparent;
	border-color: #ff8800;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Black_Rounded {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: transparent;
	border-color: #000000;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_LightGray_Rounded {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: transparent;
	border-color: #d6d6d6;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Gray_Rounded {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: transparent;
	border-color: #4D4D4D;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_GrayBlue_Rounded {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: transparent;
	border-color: #39f;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Dashed_Orange {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #ff8800;
	border-style: dashed;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Dashed_Black {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #000000;
	border-style: dashed;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Dashed_LightGray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #d6d6d6;
	border-style: dashed;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Dashed_Gray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #4D4D4D;
	border-style: dashed;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Dashed_GrayBlue {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #39f;
	border-style: dashed;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_DarkOrange_Orange {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: #ff8800;
	border-color: #646464;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Gray_LightGray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: #F1F1F1;
	border-color: #d6d6d6;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Black_LightGray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: #d6d6d6;
	border-color: #000000;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Gray_Gray {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: #d6d6d6;
	border-color: #555555;
	border-style: solid;
	opacity: 1;

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_Solid_Blue_GrayBlue {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(10px);
	background-color: #39f;
	border-color: #646464;
	border-style: solid;
	opacity: 1;

}
