﻿@import "mixins.scss";
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_seq-label {
@include widgets_brease_Label_base; 
span {
	font-family: Arial;
}
	font-size: 22px;
& span {
	color: #646464;
}
	background-color: transparent;
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
	margin: 5px;
span {
	padding: 0px;
}

}
@import "../../../../widgets/brease/NumericInput/meta/NumericInput_base";
.widgets_brease_NumericInput_style_seq-numeric-in {
@include widgets_brease_NumericInput_base; 
input {
	font-size: 36px;
}
	margin: 5px;
.breaseNumericInput_unit {
	font-size: 24px;
}
&:not(.disabled) input {
	color: #fff;
}
&:not(.disabled) span.breaseNumericInput_unit {
	color: #fff;
}
	border-width: 0px 0px 0px 6px;
&:not(.disabled) {
	border-color: #ff8800;
}
&.active {
	border-color: #d6d6d6;
}
&:not(.disabled) {
	background-color: #646464;
}
&.active {
	background-color: #d6d6d6;
}
&.active:not(.disabled) input {
	color: #ff8800;
}
&.active:not(.disabled) span.breaseNumericInput_unit {
	color: #ff8800;
}
input {
@include font-weight-bold(false);
}

}
@import "../../../../widgets/brease/TextInput/meta/TextInput_base";
.widgets_brease_TextInput_style_ParameterForm {
@include widgets_brease_TextInput_base; 
&:not(.disabled):not(.active) {
	background-color: transparent;
}
	padding: 0;
	margin: 2px 0px 2px 10px;

}
@import "../../../../widgets/brease/NumericInput/meta/NumericInput_base";
.widgets_brease_NumericInput_style_ParameterForm {
@include widgets_brease_NumericInput_base; 
&:not(.disabled) {
	background-color: transparent;
}
	padding: 0;
	margin: 2px 0px 2px 10px;

}
