#ContentFooter_LanguageSelector1 {
  top: 0px;
  position: absolute;
}

#ContentFooter_LanguageSelector1 {
  left: 20px;
  position: absolute;
}

#ContentFooter_LanguageSelector1.DropDownBoxView {
  width: 140px;
}

#ContentFooter_LanguageSelector1.DropDownBoxView {
  height: 40px;
}

#ContentFooter_LanguageSelector1 {
  z-index: 0;
}
