﻿@import "mixins.scss";
#ContentFooter_LanguageSelector1 {
	@include elemTop(0);
}
#ContentFooter_LanguageSelector1 {
	@include elemLeft(20);
}
#ContentFooter_LanguageSelector1 {
	&.DropDownBoxView{
	@include elemWidth(140);
	}
}
#ContentFooter_LanguageSelector1 {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentFooter_LanguageSelector1 {
		z-index: 0;
}
