﻿@import "mixins.scss";
#ContentHeader_Image1 {
	@include elemAutoHeight(100);
}
#ContentHeader_Image1 {
	@include elemTop(20);
}
#ContentHeader_Image1 {
	@include elemLeft(40);
}
#ContentHeader_Image1 {
	@include elemAutoWidth(320);
}
#ContentHeader_Image1 {
		z-index: 0;
}
#ContentHeader_Image1 {
		border-width: 0px;
}
