#ContentHeader_Image1 {
  height: 100px;
}

#ContentHeader_Image1 {
  top: 20px;
  position: absolute;
}

#ContentHeader_Image1 {
  left: 40px;
  position: absolute;
}

#ContentHeader_Image1 {
  width: 320px;
}

#ContentHeader_Image1 {
  z-index: 0;
}

#ContentHeader_Image1 {
  border-width: 0px;
}
