﻿@import "mixins.scss";
#Login_LoginInfo1 {
	@include elemTop(20);
}
#Login_LoginInfo1 {
	@include elemLeft(120);
}
#Login_LoginInfo1 {
	@include elemAutoWidth(140);
}
#Login_LoginInfo1 {
	@include elemAutoHeight(40);
}
#Login_LoginInfo1 {
		z-index: 0;
}
#Login_LoginInfo1 {
	@include text-alignment-all('right');
}
#Login_LoginInfo1 {
	span{
		padding: 0px 0px 0px 15px;
	}
}
#Login_LogoutButton1 {
	@include elemAutoWidth(100);
}
#Login_LogoutButton1 {
	@include elemAutoHeight(30);
}
#Login_LogoutButton1 {
	@include elemTop(60);
}
#Login_LogoutButton1 {
	@include elemLeft(160);
}
#Login_LogoutButton1 {
		z-index: 1;
}
#Login_Image1 {
	@include elemTop(20);
}
#Login_Image1 {
	@include elemLeft(59);
}
#Login_Image1 {
	@include elemAutoWidth(40);
}
#Login_Image1 {
	@include elemAutoHeight(40);
}
#Login_Image1 {
		z-index: 2;
}
