#Login_LoginInfo1 {
  top: 20px;
  position: absolute;
}

#Login_LoginInfo1 {
  left: 120px;
  position: absolute;
}

#Login_LoginInfo1 {
  width: 140px;
}

#Login_LoginInfo1 {
  height: 40px;
}

#Login_LoginInfo1 {
  z-index: 0;
}

#Login_LoginInfo1 {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Login_LoginInfo1 span {
  padding: 0px 0px 0px 15px;
}

#Login_LogoutButton1 {
  width: 100px;
}

#Login_LogoutButton1 {
  height: 30px;
}

#Login_LogoutButton1 {
  top: 60px;
  position: absolute;
}

#Login_LogoutButton1 {
  left: 160px;
  position: absolute;
}

#Login_LogoutButton1 {
  z-index: 1;
}

#Login_Image1 {
  top: 20px;
  position: absolute;
}

#Login_Image1 {
  left: 59px;
  position: absolute;
}

#Login_Image1 {
  width: 40px;
}

#Login_Image1 {
  height: 40px;
}

#Login_Image1 {
  z-index: 2;
}
