﻿@import "mixins.scss";
#ContentNavigation_Service {
	@include elemAutoWidth(100);
}
#ContentNavigation_Service {
	@include elemTop(0);
}
#ContentNavigation_Service {
	@include elemLeft(20);
}
#ContentNavigation_Service {
	@include elemAutoHeight(40);
}
#ContentNavigation_Service {
		z-index: 0;
}
#ContentNavigation_Teaching {
	@include elemAutoWidth(100);
}
#ContentNavigation_Teaching {
	@include elemTop(0);
}
#ContentNavigation_Teaching {
	@include elemLeft(130);
}
#ContentNavigation_Teaching {
	@include elemAutoHeight(40);
}
#ContentNavigation_Teaching {
		z-index: 1;
}
