#ContentNavigation_Service {
  width: 100px;
}

#ContentNavigation_Service {
  top: 0px;
  position: absolute;
}

#ContentNavigation_Service {
  left: 20px;
  position: absolute;
}

#ContentNavigation_Service {
  height: 40px;
}

#ContentNavigation_Service {
  z-index: 0;
}

#ContentNavigation_Teaching {
  width: 100px;
}

#ContentNavigation_Teaching {
  top: 0px;
  position: absolute;
}

#ContentNavigation_Teaching {
  left: 130px;
  position: absolute;
}

#ContentNavigation_Teaching {
  height: 40px;
}

#ContentNavigation_Teaching {
  z-index: 1;
}
