#DialogLogin_Login1 {
  height: 160px;
}

#DialogLogin_Login1 {
  top: 40px;
  position: absolute;
}

#DialogLogin_Login1 {
  left: 40px;
  position: absolute;
}

#DialogLogin_Login1 {
  width: 340px;
}

#DialogLogin_Login1 {
  z-index: 0;
}
