﻿@import "mixins.scss";
#DialogLogin_Login1 {
	@include elemHeight(160);
}
#DialogLogin_Login1 {
	@include elemTop(40);
}
#DialogLogin_Login1 {
	@include elemLeft(40);
}
#DialogLogin_Login1 {
	@include elemWidth(340);
}
#DialogLogin_Login1 {
		z-index: 0;
}
