#ContentRobotTeaching_GroupRobotPosition {
  top: 40px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotPosition {
  left: 760px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotPosition {
  width: 560px;
}

#ContentRobotTeaching_GroupRobotPosition {
  height: 600px;
}

#ContentRobotTeaching_GroupRobotPosition {
  z-index: 1;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  top: 10px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  width: 260px;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  height: 540px;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  z-index: 1;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  border-width: 1px;
}

#ContentRobotTeaching_GroupRobotRobtarget > .header {
  border-width: 1px;
}

#ContentRobotTeaching_GroupRobotRobtarget {
  border-color: white;
}

#ContentRobotTeaching_GroupRobotRobtarget > .header {
  border-color: white;
}

#ContentRobotTeaching_NumOutRobotTransX {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotTransX {
  top: 25px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotTransX {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotTransX {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotTransX {
  z-index: 0;
}

#ContentRobotTeaching_NumOutRobotTransY {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotTransY {
  top: 68px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotTransY {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotTransY {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotTransY {
  z-index: 1;
}

#ContentRobotTeaching_NumOutRobotTransZ {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotTransZ {
  top: 106px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotTransZ {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotTransZ {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotTransZ {
  z-index: 2;
}

#ContentRobotTeaching_NumOutRobotRotQ1 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotRotQ1 {
  top: 168px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ1 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ1 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotRotQ1 {
  z-index: 3;
}

#ContentRobotTeaching_NumOutRobotRotQ3 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotRotQ3 {
  top: 248px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ3 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ3 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotRotQ3 {
  z-index: 4;
}

#ContentRobotTeaching_NumOutRobotRotQ2 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotRotQ2 {
  top: 206px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ2 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ2 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotRotQ2 {
  z-index: 5;
}

#ContentRobotTeaching_NumOutRobotRotQ4 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotRotQ4 {
  top: 288px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ4 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotRotQ4 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotRotQ4 {
  z-index: 6;
}

#ContentRobotTeaching_NumOutRobotConf1 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotConf1 {
  top: 343px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConf1 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConf1 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotConf1 {
  z-index: 7;
}

#ContentRobotTeaching_NumOutRobotConf4 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotConf4 {
  top: 383px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConf4 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConf4 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotConf4 {
  z-index: 8;
}

#ContentRobotTeaching_NumOutRobotConf6 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotConf6 {
  top: 426px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConf6 {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConf6 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotConf6 {
  z-index: 9;
}

#ContentRobotTeaching_NumOutRobotConfX {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotConfX {
  top: 466px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConfX {
  left: 120px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotConfX {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotConfX {
  z-index: 10;
}

#ContentRobotTeaching_LabelRobotTransX {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotTransX {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotTransX {
  top: 25px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTransX {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTransX {
  z-index: 11;
}

#ContentRobotTeaching_LabelRobotTransY {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotTransY {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotTransY {
  top: 68px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTransY {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTransY {
  z-index: 12;
}

#ContentRobotTeaching_LabelRobotTransZ {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotTransZ {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotTransZ {
  top: 106px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTransZ {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTransZ {
  z-index: 13;
}

#ContentRobotTeaching_LabelRobotRotQ1 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotRotQ1 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotRotQ1 {
  top: 168px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ1 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ1 {
  z-index: 14;
}

#ContentRobotTeaching_LabelRobotRotQ2 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotRotQ2 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotRotQ2 {
  top: 206px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ2 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ2 {
  z-index: 15;
}

#ContentRobotTeaching_LabelRobotRotQ3 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotRotQ3 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotRotQ3 {
  top: 248px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ3 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ3 {
  z-index: 16;
}

#ContentRobotTeaching_LabelRobotConf1 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotConf1 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotConf1 {
  top: 343px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConf1 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConf1 {
  z-index: 17;
}

#ContentRobotTeaching_LabelRobotConf4 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotConf4 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotConf4 {
  top: 383px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConf4 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConf4 {
  z-index: 18;
}

#ContentRobotTeaching_LabelRobotConf6 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotConf6 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotConf6 {
  top: 426px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConf6 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConf6 {
  z-index: 19;
}

#ContentRobotTeaching_LabelRobotConfX {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotConfX {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotConfX {
  top: 467px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConfX {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotConfX {
  z-index: 20;
}

#ContentRobotTeaching_LabelRobotRotQ4 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotRotQ4 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotRotQ4 {
  top: 288px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ4 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotRotQ4 {
  z-index: 21;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  top: 10px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  left: 280px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  width: 260px;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  height: 310px;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  z-index: 2;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  border-width: 1px;
}

#ContentRobotTeaching_GroupRobotJointtarget > .header {
  border-width: 1px;
}

#ContentRobotTeaching_GroupRobotJointtarget {
  border-color: white;
}

#ContentRobotTeaching_GroupRobotJointtarget > .header {
  border-color: white;
}

#ContentRobotTeaching_NumOutRobotAx1 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotAx1 {
  top: 24px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx1 {
  left: 119px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx1 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotAx1 {
  z-index: 0;
}

#ContentRobotTeaching_LabelRobotAx1 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotAx1 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotAx1 {
  top: 24px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx1 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx1 {
  z-index: 1;
}

#ContentRobotTeaching_NumOutRobotAx2 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotAx2 {
  top: 64px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx2 {
  left: 119px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx2 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotAx2 {
  z-index: 2;
}

#ContentRobotTeaching_LabelRobotAx2 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotAx2 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotAx2 {
  top: 64px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx2 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx2 {
  z-index: 3;
}

#ContentRobotTeaching_NumOutRobotAx3 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotAx3 {
  top: 104px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx3 {
  left: 119px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx3 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotAx3 {
  z-index: 4;
}

#ContentRobotTeaching_LabelRobotAx3 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotAx3 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotAx3 {
  top: 104px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx3 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx3 {
  z-index: 5;
}

#ContentRobotTeaching_NumOutRobotAx4 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotAx4 {
  top: 144px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx4 {
  left: 119px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx4 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotAx4 {
  z-index: 6;
}

#ContentRobotTeaching_LabelRobotAx4 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotAx4 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotAx4 {
  top: 144px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx4 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx4 {
  z-index: 7;
}

#ContentRobotTeaching_NumOutRobotAx5 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotAx5 {
  top: 184px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx5 {
  left: 119px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx5 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotAx5 {
  z-index: 8;
}

#ContentRobotTeaching_LabelRobotAx5 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotAx5 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotAx5 {
  top: 184px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx5 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx5 {
  z-index: 9;
}

#ContentRobotTeaching_NumOutRobotAx6 {
  height: 30px;
}

#ContentRobotTeaching_NumOutRobotAx6 {
  top: 224px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx6 {
  left: 119px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotAx6 {
  width: 120px;
}

#ContentRobotTeaching_NumOutRobotAx6 {
  z-index: 10;
}

#ContentRobotTeaching_LabelRobotAx6 {
  width: 80px;
}

#ContentRobotTeaching_LabelRobotAx6 {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotAx6 {
  top: 224px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx6 {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotAx6 {
  z-index: 11;
}

#ContentRobotTeaching_TextRobotWorkobject {
  height: 30px;
}

#ContentRobotTeaching_TextRobotWorkobject {
  top: 349px;
  position: absolute;
}

#ContentRobotTeaching_TextRobotWorkobject {
  left: 340px;
  position: absolute;
}

#ContentRobotTeaching_TextRobotWorkobject {
  width: 210px;
}

#ContentRobotTeaching_TextRobotWorkobject {
  z-index: 3;
}

#ContentRobotTeaching_LabelRobotWobj {
  top: 344px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotWobj {
  left: 280px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotWobj {
  width: 260px;
}

#ContentRobotTeaching_LabelRobotWobj {
  height: 40px;
}

#ContentRobotTeaching_LabelRobotWobj {
  z-index: 0;
}

#ContentRobotTeaching_LabelRobotWobj {
  background-color: white;
}

#ContentRobotTeaching_LabelRobotWobj span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotTeaching_TextRobotTool {
  height: 30px;
}

#ContentRobotTeaching_TextRobotTool {
  top: 404px;
  position: absolute;
}

#ContentRobotTeaching_TextRobotTool {
  left: 340px;
  position: absolute;
}

#ContentRobotTeaching_TextRobotTool {
  width: 210px;
}

#ContentRobotTeaching_TextRobotTool {
  z-index: 5;
}

#ContentRobotTeaching_LabelRobotTool {
  top: 399px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTool {
  left: 280px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotTool {
  width: 260px;
}

#ContentRobotTeaching_LabelRobotTool {
  height: 40px;
}

#ContentRobotTeaching_LabelRobotTool {
  z-index: 4;
}

#ContentRobotTeaching_LabelRobotTool {
  background-color: white;
}

#ContentRobotTeaching_LabelRobotTool span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotTeaching_GroupRobotStatus {
  top: 40px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotStatus {
  left: 400px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotStatus {
  width: 340px;
}

#ContentRobotTeaching_GroupRobotStatus {
  height: 180px;
}

#ContentRobotTeaching_GroupRobotStatus {
  z-index: 2;
}

#ContentRobotTeaching_LabelRobotCommunication {
  top: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotCommunication {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotCommunication {
  width: 300px;
}

#ContentRobotTeaching_LabelRobotCommunication {
  height: 40px;
}

#ContentRobotTeaching_LabelRobotCommunication {
  z-index: 0;
}

#ContentRobotTeaching_LabelRobotCommunication {
  background-color: white;
}

#ContentRobotTeaching_LabelRobotCommunication span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotTeaching_LabelRobotErrorCode {
  top: 83px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotErrorCode {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotErrorCode {
  width: 300px;
}

#ContentRobotTeaching_LabelRobotErrorCode {
  height: 40px;
}

#ContentRobotTeaching_LabelRobotErrorCode {
  z-index: 1;
}

#ContentRobotTeaching_LabelRobotErrorCode {
  background-color: white;
}

#ContentRobotTeaching_LabelRobotErrorCode span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotTeaching_NumOutRobotErrorCode {
  top: 83px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotErrorCode {
  left: 165px;
  position: absolute;
}

#ContentRobotTeaching_NumOutRobotErrorCode {
  width: 150px;
}

#ContentRobotTeaching_NumOutRobotErrorCode {
  height: 40px;
}

#ContentRobotTeaching_NumOutRobotErrorCode {
  z-index: 2;
}

#ContentRobotTeaching_NumOutRobotErrorCode input {
  color: #646464;
}

#ContentRobotTeaching_NumOutRobotErrorCode span.breaseNumericOutput_unit {
  color: #646464;
}

#ContentRobotTeaching_NumOutRobotErrorCode input {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_NumOutRobotErrorCode input {
  font-size: 20px;
}

#ContentRobotTeaching_NumOutRobotErrorCode {
  padding: 5px;
}

#ContentRobotTeaching_TextRobotCommunication {
  top: 20px;
  position: absolute;
}

#ContentRobotTeaching_TextRobotCommunication {
  left: 165px;
  position: absolute;
}

#ContentRobotTeaching_TextRobotCommunication.DropDownBoxView {
  width: 150px;
}

#ContentRobotTeaching_TextRobotCommunication.DropDownBoxView {
  height: 40px;
}

#ContentRobotTeaching_TextRobotCommunication {
  z-index: 3;
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotTeaching_TextRobotCommunication > .ItemView {
  padding: 0px;
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotTeaching_TextRobotCommunication .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_TextRobotCommunication .TextView {
  font-size: 18px;
}

#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotTeaching_GroupRobotCommand {
  top: 40px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotCommand {
  left: 40px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotCommand {
  width: 340px;
}

#ContentRobotTeaching_GroupRobotCommand {
  height: 180px;
}

#ContentRobotTeaching_GroupRobotCommand {
  z-index: 0;
}

#ContentRobotTeaching_BtnRobotEnable {
  top: 23px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotEnable {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotEnable {
  width: 140px;
}

#ContentRobotTeaching_BtnRobotEnable {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotEnable {
  z-index: 0;
}

#ContentRobotTeaching_BtnRobotErrorReset {
  top: 23px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotErrorReset {
  left: 180px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotErrorReset {
  width: 140px;
}

#ContentRobotTeaching_BtnRobotErrorReset {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotErrorReset {
  z-index: 1;
}

#ContentRobotTeaching_NumRobotIndex {
  height: 30px;
}

#ContentRobotTeaching_NumRobotIndex {
  top: 104px;
  position: absolute;
}

#ContentRobotTeaching_NumRobotIndex {
  left: 140px;
  position: absolute;
}

#ContentRobotTeaching_NumRobotIndex {
  width: 60px;
}

#ContentRobotTeaching_NumRobotIndex {
  z-index: 2;
}

#ContentRobotTeaching_LabelTeachingRobotIndex {
  height: 30px;
}

#ContentRobotTeaching_LabelTeachingRobotIndex {
  top: 104px;
  position: absolute;
}

#ContentRobotTeaching_LabelTeachingRobotIndex {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_LabelTeachingRobotIndex {
  width: 100px;
}

#ContentRobotTeaching_LabelTeachingRobotIndex {
  z-index: 3;
}

#ContentRobotTeaching_GroupRobotCommand2 {
  top: 239px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotCommand2 {
  left: 40px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotCommand2 {
  width: 700px;
}

#ContentRobotTeaching_GroupRobotCommand2 {
  height: 621px;
}

#ContentRobotTeaching_GroupRobotCommand2 {
  z-index: 3;
}

#ContentRobotTeaching_GroupRobotCommand1 {
  top: 10px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotCommand1 {
  left: 250px;
  position: absolute;
}

#ContentRobotTeaching_GroupRobotCommand1 {
  width: 440px;
}

#ContentRobotTeaching_GroupRobotCommand1 {
  height: 390px;
}

#ContentRobotTeaching_GroupRobotCommand1 {
  z-index: 0;
}

#ContentRobotTeaching_TableRobotTeaching {
  top: 0px;
  position: absolute;
}

#ContentRobotTeaching_TableRobotTeaching {
  left: 0px;
  position: absolute;
}

#ContentRobotTeaching_TableRobotTeaching {
  width: 440px;
}

#ContentRobotTeaching_TableRobotTeaching {
  height: 380px;
}

#ContentRobotTeaching_TableRobotTeaching {
  z-index: 0;
}

#ContentRobotTeaching_TableRobotTeaching .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: center;
}

#ContentRobotTeaching_TableRobotTeaching .tableHeader > .headerElement:not(.override) {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentRobotTeaching_TableRobotTeaching .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: center;
}

#ContentRobotTeaching_TableInstructionIndex {
  z-index: 0;
}

#ContentRobotTeaching_TableInstructionIndex.headerElement.override {
  padding: 5px;
}

#ContentRobotTeaching_TableInstructionType {
  z-index: 1;
}

#ContentRobotTeaching_TableInstructionSpeed {
  z-index: 2;
}

#ContentRobotTeaching_TableInstructionSpeed.headerElement.override {
  padding: 5px;
}

#ContentRobotTeaching_TableInstructionZone {
  z-index: 3;
}

#ContentRobotTeaching_TableInstructionZone.headerElement.override {
  padding: 5px;
}

#ContentRobotTeaching_TableInstructionName {
  z-index: 4;
}

#ContentRobotTeaching_TableInstructionName.headerElement.override {
  padding: 5px;
}

#ContentRobotTeaching_BtnRobotAddInstruction {
  top: 285px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotAddInstruction {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotAddInstruction {
  width: 200px;
}

#ContentRobotTeaching_BtnRobotAddInstruction {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotAddInstruction {
  z-index: 1;
}

#ContentRobotTeaching_BtnRobotAddInstruction:not(.active):not(.disabled):not(.checked) svg {
  fill: white;
}

#ContentRobotTeaching_BtnRobotAddInstruction {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction {
  top: 405px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction {
  left: 260px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction {
  width: 202px;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction {
  z-index: 2;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction:not(.active):not(.disabled):not(.checked) svg {
  fill: white;
}

#ContentRobotTeaching_BtnRobotRemoveInstruction {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_BtnRobotEditInstruction {
  top: 505px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotEditInstruction {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotEditInstruction {
  width: 200px;
}

#ContentRobotTeaching_BtnRobotEditInstruction {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotEditInstruction {
  z-index: 3;
}

#ContentRobotTeaching_BtnRobotEditInstruction:not(.active):not(.disabled):not(.checked) svg {
  fill: white;
}

#ContentRobotTeaching_BtnRobotEditInstruction {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_BtnRobotAddAbove {
  top: 365px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotAddAbove {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotAddAbove {
  width: 200px;
}

#ContentRobotTeaching_BtnRobotAddAbove {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotAddAbove {
  z-index: 4;
}

#ContentRobotTeaching_BtnRobotAddAbove:not(.active):not(.disabled):not(.checked) svg {
  fill: white;
}

#ContentRobotTeaching_BtnRobotAddAbove {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_GroupBox1 {
  top: 10px;
  position: absolute;
}

#ContentRobotTeaching_GroupBox1 {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_GroupBox1 {
  width: 230px;
}

#ContentRobotTeaching_GroupBox1 {
  height: 250px;
}

#ContentRobotTeaching_GroupBox1 {
  z-index: 5;
}

#ContentRobotTeaching_DropDownPredefinedSpeed.DropDownBoxView {
  height: 30px;
}

#ContentRobotTeaching_DropDownPredefinedSpeed {
  top: 118px;
  position: absolute;
}

#ContentRobotTeaching_DropDownPredefinedSpeed {
  left: 100px;
  position: absolute;
}

#ContentRobotTeaching_DropDownPredefinedSpeed.DropDownBoxView {
  width: 120px;
}

#ContentRobotTeaching_DropDownPredefinedSpeed {
  z-index: 0;
}

#ContentRobotTeaching_DropDownPredefinedSpeed_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
  background-color: white;
}

#ContentRobotTeaching_DropDownPredefinedZone.DropDownBoxView {
  height: 30px;
}

#ContentRobotTeaching_DropDownPredefinedZone {
  top: 158px;
  position: absolute;
}

#ContentRobotTeaching_DropDownPredefinedZone {
  left: 100px;
  position: absolute;
}

#ContentRobotTeaching_DropDownPredefinedZone.DropDownBoxView {
  width: 120px;
}

#ContentRobotTeaching_DropDownPredefinedZone {
  z-index: 1;
}

#ContentRobotTeaching_DropDownPredefinedZone_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
  background-color: white;
}

#ContentRobotTeaching_DropDownInstructionType.DropDownBoxView {
  height: 30px;
}

#ContentRobotTeaching_DropDownInstructionType {
  top: 77px;
  position: absolute;
}

#ContentRobotTeaching_DropDownInstructionType {
  left: 100px;
  position: absolute;
}

#ContentRobotTeaching_DropDownInstructionType.DropDownBoxView {
  width: 120px;
}

#ContentRobotTeaching_DropDownInstructionType {
  z-index: 2;
}

#ContentRobotTeaching_DropDownInstructionType_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
  background-color: white;
}

#ContentRobotTeaching_LabelRobotInstrType {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotInstrType {
  top: 77px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrType {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrType {
  width: 142px;
}

#ContentRobotTeaching_LabelRobotInstrType {
  z-index: 3;
}

#ContentRobotTeaching_LabelRobotInstrSpeed {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotInstrSpeed {
  top: 118px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrSpeed {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrSpeed {
  width: 142px;
}

#ContentRobotTeaching_LabelRobotInstrSpeed {
  z-index: 4;
}

#ContentRobotTeaching_LabelRobotInstrZone {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotInstrZone {
  top: 158px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrZone {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrZone {
  width: 142px;
}

#ContentRobotTeaching_LabelRobotInstrZone {
  z-index: 5;
}

#ContentRobotTeaching_TextInputRobotPointName {
  height: 30px;
}

#ContentRobotTeaching_TextInputRobotPointName {
  top: 35px;
  position: absolute;
}

#ContentRobotTeaching_TextInputRobotPointName {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_TextInputRobotPointName {
  width: 210px;
}

#ContentRobotTeaching_TextInputRobotPointName {
  z-index: 6;
}

#ContentRobotTeaching_LabelRobotInstrPointName {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotInstrPointName {
  top: 10px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrPointName {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotInstrPointName {
  width: 160px;
}

#ContentRobotTeaching_LabelRobotInstrPointName {
  z-index: 7;
}

#ContentRobotTeaching_BtnRobotClearList {
  top: 405px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotClearList {
  left: 480px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotClearList {
  width: 202px;
}

#ContentRobotTeaching_BtnRobotClearList {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotClearList {
  z-index: 6;
}

#ContentRobotTeaching_BtnRobotClearList:not(.active):not(.disabled):not(.checked) svg {
  fill: white;
}

#ContentRobotTeaching_BtnRobotClearList {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
  top: 445px;
  position: absolute;
}

#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
  left: 20px;
  position: absolute;
}

#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
  width: 200px;
}

#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
  height: 55px;
}

#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
  z-index: 7;
}

#ContentRobotTeaching_GroupBox2 {
  top: 659px;
  position: absolute;
}

#ContentRobotTeaching_GroupBox2 {
  left: 758px;
  position: absolute;
}

#ContentRobotTeaching_GroupBox2 {
  width: 562px;
}

#ContentRobotTeaching_GroupBox2 {
  height: 155px;
}

#ContentRobotTeaching_GroupBox2 {
  z-index: 4;
}

#ContentRobotTeaching_LabelRobotProcName {
  height: 30px;
}

#ContentRobotTeaching_LabelRobotProcName {
  top: 15px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotProcName {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_LabelRobotProcName {
  width: 160px;
}

#ContentRobotTeaching_LabelRobotProcName {
  z-index: 1;
}

#ContentRobotTeaching_TextInputRobotModuleName {
  height: 30px;
}

#ContentRobotTeaching_TextInputRobotModuleName {
  top: 50px;
  position: absolute;
}

#ContentRobotTeaching_TextInputRobotModuleName {
  left: 10px;
  position: absolute;
}

#ContentRobotTeaching_TextInputRobotModuleName {
  width: 300px;
}

#ContentRobotTeaching_TextInputRobotModuleName {
  z-index: 0;
}

#ContentRobotTeaching_BtnRobotCreateFile {
  top: 24px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotCreateFile {
  left: 341px;
  position: absolute;
}

#ContentRobotTeaching_BtnRobotCreateFile {
  width: 200px;
}

#ContentRobotTeaching_BtnRobotCreateFile {
  height: 60px;
}

#ContentRobotTeaching_BtnRobotCreateFile {
  z-index: 2;
}

#ContentRobotTeaching_BtnRobotCreateFile:not(.active):not(.disabled):not(.checked) svg {
  fill: white;
}

#ContentRobotTeaching_BtnRobotCreateFile {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}
