﻿@import "mixins.scss";
#ContentRobotTeaching_GroupRobotPosition {
	@include elemTop(40);
}
#ContentRobotTeaching_GroupRobotPosition {
	@include elemLeft(760);
}
#ContentRobotTeaching_GroupRobotPosition {
	@include elemWidth(560);
}
#ContentRobotTeaching_GroupRobotPosition {
	@include elemHeight(600);
}
#ContentRobotTeaching_GroupRobotPosition {
		z-index: 1;
}
#ContentRobotTeaching_GroupRobotRobtarget {
	@include elemTop(10);
}
#ContentRobotTeaching_GroupRobotRobtarget {
	@include elemLeft(10);
}
#ContentRobotTeaching_GroupRobotRobtarget {
	@include elemWidth(260);
}
#ContentRobotTeaching_GroupRobotRobtarget {
	@include elemHeight(540);
}
#ContentRobotTeaching_GroupRobotRobtarget {
		z-index: 1;
}
#ContentRobotTeaching_GroupRobotRobtarget {
		border-width: 1px;
}
#ContentRobotTeaching_GroupRobotRobtarget {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotTeaching_GroupRobotRobtarget {
		border-color: rgba(255, 255, 255, 1);
}
#ContentRobotTeaching_GroupRobotRobtarget {
	> .header{
		border-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_NumOutRobotTransX {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotTransX {
	@include elemTop(25);
}
#ContentRobotTeaching_NumOutRobotTransX {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotTransX {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotTransX {
		z-index: 0;
}
#ContentRobotTeaching_NumOutRobotTransY {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotTransY {
	@include elemTop(68);
}
#ContentRobotTeaching_NumOutRobotTransY {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotTransY {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotTransY {
		z-index: 1;
}
#ContentRobotTeaching_NumOutRobotTransZ {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotTransZ {
	@include elemTop(106);
}
#ContentRobotTeaching_NumOutRobotTransZ {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotTransZ {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotTransZ {
		z-index: 2;
}
#ContentRobotTeaching_NumOutRobotRotQ1 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotRotQ1 {
	@include elemTop(168);
}
#ContentRobotTeaching_NumOutRobotRotQ1 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotRotQ1 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotRotQ1 {
		z-index: 3;
}
#ContentRobotTeaching_NumOutRobotRotQ3 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotRotQ3 {
	@include elemTop(248);
}
#ContentRobotTeaching_NumOutRobotRotQ3 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotRotQ3 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotRotQ3 {
		z-index: 4;
}
#ContentRobotTeaching_NumOutRobotRotQ2 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotRotQ2 {
	@include elemTop(206);
}
#ContentRobotTeaching_NumOutRobotRotQ2 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotRotQ2 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotRotQ2 {
		z-index: 5;
}
#ContentRobotTeaching_NumOutRobotRotQ4 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotRotQ4 {
	@include elemTop(288);
}
#ContentRobotTeaching_NumOutRobotRotQ4 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotRotQ4 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotRotQ4 {
		z-index: 6;
}
#ContentRobotTeaching_NumOutRobotConf1 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotConf1 {
	@include elemTop(343);
}
#ContentRobotTeaching_NumOutRobotConf1 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotConf1 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotConf1 {
		z-index: 7;
}
#ContentRobotTeaching_NumOutRobotConf4 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotConf4 {
	@include elemTop(383);
}
#ContentRobotTeaching_NumOutRobotConf4 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotConf4 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotConf4 {
		z-index: 8;
}
#ContentRobotTeaching_NumOutRobotConf6 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotConf6 {
	@include elemTop(426);
}
#ContentRobotTeaching_NumOutRobotConf6 {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotConf6 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotConf6 {
		z-index: 9;
}
#ContentRobotTeaching_NumOutRobotConfX {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotConfX {
	@include elemTop(466);
}
#ContentRobotTeaching_NumOutRobotConfX {
	@include elemLeft(120);
}
#ContentRobotTeaching_NumOutRobotConfX {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotConfX {
		z-index: 10;
}
#ContentRobotTeaching_LabelRobotTransX {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotTransX {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotTransX {
	@include elemTop(25);
}
#ContentRobotTeaching_LabelRobotTransX {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotTransX {
		z-index: 11;
}
#ContentRobotTeaching_LabelRobotTransY {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotTransY {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotTransY {
	@include elemTop(68);
}
#ContentRobotTeaching_LabelRobotTransY {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotTransY {
		z-index: 12;
}
#ContentRobotTeaching_LabelRobotTransZ {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotTransZ {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotTransZ {
	@include elemTop(106);
}
#ContentRobotTeaching_LabelRobotTransZ {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotTransZ {
		z-index: 13;
}
#ContentRobotTeaching_LabelRobotRotQ1 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotRotQ1 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotRotQ1 {
	@include elemTop(168);
}
#ContentRobotTeaching_LabelRobotRotQ1 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotRotQ1 {
		z-index: 14;
}
#ContentRobotTeaching_LabelRobotRotQ2 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotRotQ2 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotRotQ2 {
	@include elemTop(206);
}
#ContentRobotTeaching_LabelRobotRotQ2 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotRotQ2 {
		z-index: 15;
}
#ContentRobotTeaching_LabelRobotRotQ3 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotRotQ3 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotRotQ3 {
	@include elemTop(248);
}
#ContentRobotTeaching_LabelRobotRotQ3 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotRotQ3 {
		z-index: 16;
}
#ContentRobotTeaching_LabelRobotConf1 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotConf1 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotConf1 {
	@include elemTop(343);
}
#ContentRobotTeaching_LabelRobotConf1 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotConf1 {
		z-index: 17;
}
#ContentRobotTeaching_LabelRobotConf4 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotConf4 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotConf4 {
	@include elemTop(383);
}
#ContentRobotTeaching_LabelRobotConf4 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotConf4 {
		z-index: 18;
}
#ContentRobotTeaching_LabelRobotConf6 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotConf6 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotConf6 {
	@include elemTop(426);
}
#ContentRobotTeaching_LabelRobotConf6 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotConf6 {
		z-index: 19;
}
#ContentRobotTeaching_LabelRobotConfX {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotConfX {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotConfX {
	@include elemTop(467);
}
#ContentRobotTeaching_LabelRobotConfX {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotConfX {
		z-index: 20;
}
#ContentRobotTeaching_LabelRobotRotQ4 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotRotQ4 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotRotQ4 {
	@include elemTop(288);
}
#ContentRobotTeaching_LabelRobotRotQ4 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotRotQ4 {
		z-index: 21;
}
#ContentRobotTeaching_GroupRobotJointtarget {
	@include elemTop(10);
}
#ContentRobotTeaching_GroupRobotJointtarget {
	@include elemLeft(280);
}
#ContentRobotTeaching_GroupRobotJointtarget {
	@include elemWidth(260);
}
#ContentRobotTeaching_GroupRobotJointtarget {
	@include elemHeight(310);
}
#ContentRobotTeaching_GroupRobotJointtarget {
		z-index: 2;
}
#ContentRobotTeaching_GroupRobotJointtarget {
		border-width: 1px;
}
#ContentRobotTeaching_GroupRobotJointtarget {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotTeaching_GroupRobotJointtarget {
		border-color: rgba(255, 255, 255, 1);
}
#ContentRobotTeaching_GroupRobotJointtarget {
	> .header{
		border-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_NumOutRobotAx1 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotAx1 {
	@include elemTop(24);
}
#ContentRobotTeaching_NumOutRobotAx1 {
	@include elemLeft(119);
}
#ContentRobotTeaching_NumOutRobotAx1 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotAx1 {
		z-index: 0;
}
#ContentRobotTeaching_LabelRobotAx1 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotAx1 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotAx1 {
	@include elemTop(24);
}
#ContentRobotTeaching_LabelRobotAx1 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotAx1 {
		z-index: 1;
}
#ContentRobotTeaching_NumOutRobotAx2 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotAx2 {
	@include elemTop(64);
}
#ContentRobotTeaching_NumOutRobotAx2 {
	@include elemLeft(119);
}
#ContentRobotTeaching_NumOutRobotAx2 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotAx2 {
		z-index: 2;
}
#ContentRobotTeaching_LabelRobotAx2 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotAx2 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotAx2 {
	@include elemTop(64);
}
#ContentRobotTeaching_LabelRobotAx2 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotAx2 {
		z-index: 3;
}
#ContentRobotTeaching_NumOutRobotAx3 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotAx3 {
	@include elemTop(104);
}
#ContentRobotTeaching_NumOutRobotAx3 {
	@include elemLeft(119);
}
#ContentRobotTeaching_NumOutRobotAx3 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotAx3 {
		z-index: 4;
}
#ContentRobotTeaching_LabelRobotAx3 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotAx3 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotAx3 {
	@include elemTop(104);
}
#ContentRobotTeaching_LabelRobotAx3 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotAx3 {
		z-index: 5;
}
#ContentRobotTeaching_NumOutRobotAx4 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotAx4 {
	@include elemTop(144);
}
#ContentRobotTeaching_NumOutRobotAx4 {
	@include elemLeft(119);
}
#ContentRobotTeaching_NumOutRobotAx4 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotAx4 {
		z-index: 6;
}
#ContentRobotTeaching_LabelRobotAx4 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotAx4 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotAx4 {
	@include elemTop(144);
}
#ContentRobotTeaching_LabelRobotAx4 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotAx4 {
		z-index: 7;
}
#ContentRobotTeaching_NumOutRobotAx5 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotAx5 {
	@include elemTop(184);
}
#ContentRobotTeaching_NumOutRobotAx5 {
	@include elemLeft(119);
}
#ContentRobotTeaching_NumOutRobotAx5 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotAx5 {
		z-index: 8;
}
#ContentRobotTeaching_LabelRobotAx5 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotAx5 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotAx5 {
	@include elemTop(184);
}
#ContentRobotTeaching_LabelRobotAx5 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotAx5 {
		z-index: 9;
}
#ContentRobotTeaching_NumOutRobotAx6 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_NumOutRobotAx6 {
	@include elemTop(224);
}
#ContentRobotTeaching_NumOutRobotAx6 {
	@include elemLeft(119);
}
#ContentRobotTeaching_NumOutRobotAx6 {
	@include elemAutoWidth(120);
}
#ContentRobotTeaching_NumOutRobotAx6 {
		z-index: 10;
}
#ContentRobotTeaching_LabelRobotAx6 {
	@include elemAutoWidth(80);
}
#ContentRobotTeaching_LabelRobotAx6 {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotAx6 {
	@include elemTop(224);
}
#ContentRobotTeaching_LabelRobotAx6 {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotAx6 {
		z-index: 11;
}
#ContentRobotTeaching_TextRobotWorkobject {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_TextRobotWorkobject {
	@include elemTop(349);
}
#ContentRobotTeaching_TextRobotWorkobject {
	@include elemLeft(340);
}
#ContentRobotTeaching_TextRobotWorkobject {
	@include elemAutoWidth(210);
}
#ContentRobotTeaching_TextRobotWorkobject {
		z-index: 3;
}
#ContentRobotTeaching_LabelRobotWobj {
	@include elemTop(344);
}
#ContentRobotTeaching_LabelRobotWobj {
	@include elemLeft(280);
}
#ContentRobotTeaching_LabelRobotWobj {
	@include elemAutoWidth(260);
}
#ContentRobotTeaching_LabelRobotWobj {
	@include elemAutoHeight(40);
}
#ContentRobotTeaching_LabelRobotWobj {
		z-index: 0;
}
#ContentRobotTeaching_LabelRobotWobj {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotTeaching_LabelRobotWobj {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotTeaching_TextRobotTool {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_TextRobotTool {
	@include elemTop(404);
}
#ContentRobotTeaching_TextRobotTool {
	@include elemLeft(340);
}
#ContentRobotTeaching_TextRobotTool {
	@include elemAutoWidth(210);
}
#ContentRobotTeaching_TextRobotTool {
		z-index: 5;
}
#ContentRobotTeaching_LabelRobotTool {
	@include elemTop(399);
}
#ContentRobotTeaching_LabelRobotTool {
	@include elemLeft(280);
}
#ContentRobotTeaching_LabelRobotTool {
	@include elemAutoWidth(260);
}
#ContentRobotTeaching_LabelRobotTool {
	@include elemAutoHeight(40);
}
#ContentRobotTeaching_LabelRobotTool {
		z-index: 4;
}
#ContentRobotTeaching_LabelRobotTool {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotTeaching_LabelRobotTool {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotTeaching_GroupRobotStatus {
	@include elemTop(40);
}
#ContentRobotTeaching_GroupRobotStatus {
	@include elemLeft(400);
}
#ContentRobotTeaching_GroupRobotStatus {
	@include elemWidth(340);
}
#ContentRobotTeaching_GroupRobotStatus {
	@include elemHeight(180);
}
#ContentRobotTeaching_GroupRobotStatus {
		z-index: 2;
}
#ContentRobotTeaching_LabelRobotCommunication {
	@include elemTop(20);
}
#ContentRobotTeaching_LabelRobotCommunication {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotCommunication {
	@include elemAutoWidth(300);
}
#ContentRobotTeaching_LabelRobotCommunication {
	@include elemAutoHeight(40);
}
#ContentRobotTeaching_LabelRobotCommunication {
		z-index: 0;
}
#ContentRobotTeaching_LabelRobotCommunication {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotTeaching_LabelRobotCommunication {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotTeaching_LabelRobotErrorCode {
	@include elemTop(83);
}
#ContentRobotTeaching_LabelRobotErrorCode {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelRobotErrorCode {
	@include elemAutoWidth(300);
}
#ContentRobotTeaching_LabelRobotErrorCode {
	@include elemAutoHeight(40);
}
#ContentRobotTeaching_LabelRobotErrorCode {
		z-index: 1;
}
#ContentRobotTeaching_LabelRobotErrorCode {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotTeaching_LabelRobotErrorCode {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	@include elemTop(83);
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	@include elemLeft(165);
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	@include elemAutoWidth(150);
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	@include elemAutoHeight(40);
}
#ContentRobotTeaching_NumOutRobotErrorCode {
		z-index: 2;
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	input{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	span.breaseNumericOutput_unit{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	input{
	@include text-alignment(left);
	}
}
#ContentRobotTeaching_NumOutRobotErrorCode {
	input{
		font-size: 20px;
	}
}
#ContentRobotTeaching_NumOutRobotErrorCode {
		padding: 5px;
}
#ContentRobotTeaching_TextRobotCommunication {
	@include elemTop(20);
}
#ContentRobotTeaching_TextRobotCommunication {
	@include elemLeft(165);
}
#ContentRobotTeaching_TextRobotCommunication {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
		z-index: 3;
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotTeaching_TextRobotCommunication {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotTeaching_TextRobotCommunication_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotTeaching_GroupRobotCommand {
	@include elemTop(40);
}
#ContentRobotTeaching_GroupRobotCommand {
	@include elemLeft(40);
}
#ContentRobotTeaching_GroupRobotCommand {
	@include elemWidth(340);
}
#ContentRobotTeaching_GroupRobotCommand {
	@include elemHeight(180);
}
#ContentRobotTeaching_GroupRobotCommand {
		z-index: 0;
}
#ContentRobotTeaching_BtnRobotEnable {
	@include elemTop(23);
}
#ContentRobotTeaching_BtnRobotEnable {
	@include elemLeft(20);
}
#ContentRobotTeaching_BtnRobotEnable {
	@include elemAutoWidth(140);
}
#ContentRobotTeaching_BtnRobotEnable {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotEnable {
		z-index: 0;
}
#ContentRobotTeaching_BtnRobotErrorReset {
	@include elemTop(23);
}
#ContentRobotTeaching_BtnRobotErrorReset {
	@include elemLeft(180);
}
#ContentRobotTeaching_BtnRobotErrorReset {
	@include elemAutoWidth(140);
}
#ContentRobotTeaching_BtnRobotErrorReset {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotErrorReset {
		z-index: 1;
}
#ContentRobotTeaching_NumRobotIndex {
	@include elemHeight(30);
}
#ContentRobotTeaching_NumRobotIndex {
	@include elemTop(104);
}
#ContentRobotTeaching_NumRobotIndex {
	@include elemLeft(140);
}
#ContentRobotTeaching_NumRobotIndex {
	@include elemWidth(60);
}
#ContentRobotTeaching_NumRobotIndex {
		z-index: 2;
}
#ContentRobotTeaching_LabelTeachingRobotIndex {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelTeachingRobotIndex {
	@include elemTop(104);
}
#ContentRobotTeaching_LabelTeachingRobotIndex {
	@include elemLeft(20);
}
#ContentRobotTeaching_LabelTeachingRobotIndex {
	@include elemAutoWidth(100);
}
#ContentRobotTeaching_LabelTeachingRobotIndex {
		z-index: 3;
}
#ContentRobotTeaching_GroupRobotCommand2 {
	@include elemTop(239);
}
#ContentRobotTeaching_GroupRobotCommand2 {
	@include elemLeft(40);
}
#ContentRobotTeaching_GroupRobotCommand2 {
	@include elemWidth(700);
}
#ContentRobotTeaching_GroupRobotCommand2 {
	@include elemHeight(621);
}
#ContentRobotTeaching_GroupRobotCommand2 {
		z-index: 3;
}
#ContentRobotTeaching_GroupRobotCommand1 {
	@include elemTop(10);
}
#ContentRobotTeaching_GroupRobotCommand1 {
	@include elemLeft(250);
}
#ContentRobotTeaching_GroupRobotCommand1 {
	@include elemWidth(440);
}
#ContentRobotTeaching_GroupRobotCommand1 {
	@include elemHeight(390);
}
#ContentRobotTeaching_GroupRobotCommand1 {
		z-index: 0;
}
#ContentRobotTeaching_TableRobotTeaching {
	@include elemTop(0);
}
#ContentRobotTeaching_TableRobotTeaching {
	@include elemLeft(0);
}
#ContentRobotTeaching_TableRobotTeaching {
	@include elemWidth(440);
}
#ContentRobotTeaching_TableRobotTeaching {
	@include elemHeight(380);
}
#ContentRobotTeaching_TableRobotTeaching {
		z-index: 0;
}
#ContentRobotTeaching_TableRobotTeaching {
	.tableCells tbody tr td:not(.override){
	@include text-position('center center');
	}
}
#ContentRobotTeaching_TableRobotTeaching {
	.tableCells tbody tr td:not(.override) > img{
	@include image-align('center center');
	}
}
#ContentRobotTeaching_TableRobotTeaching {
	.tableHeader > .headerElement:not(.override){
	@include flex-position('center center');
	}
}
#ContentRobotTeaching_TableRobotTeaching {
	.tableHeader > .headerElement:not(.override) > span{
	@include text-position('center center');
	}
}
#ContentRobotTeaching_TableInstructionIndex {
		z-index: 0;
}
#ContentRobotTeaching_TableInstructionIndex {
	&.headerElement.override{
		padding: 5px;
	}
}
#ContentRobotTeaching_TableInstructionType {
		z-index: 1;
}
#ContentRobotTeaching_TableInstructionSpeed {
		z-index: 2;
}
#ContentRobotTeaching_TableInstructionSpeed {
	&.headerElement.override{
		padding: 5px;
	}
}
#ContentRobotTeaching_TableInstructionZone {
		z-index: 3;
}
#ContentRobotTeaching_TableInstructionZone {
	&.headerElement.override{
		padding: 5px;
	}
}
#ContentRobotTeaching_TableInstructionName {
		z-index: 4;
}
#ContentRobotTeaching_TableInstructionName {
	&.headerElement.override{
		padding: 5px;
	}
}
#ContentRobotTeaching_BtnRobotAddInstruction {
	@include elemTop(285);
}
#ContentRobotTeaching_BtnRobotAddInstruction {
	@include elemLeft(20);
}
#ContentRobotTeaching_BtnRobotAddInstruction {
	@include elemAutoWidth(200);
}
#ContentRobotTeaching_BtnRobotAddInstruction {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotAddInstruction {
		z-index: 1;
}
#ContentRobotTeaching_BtnRobotAddInstruction {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_BtnRobotAddInstruction {
	@include text-alignment(left);
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
	@include elemTop(405);
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
	@include elemLeft(260);
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
	@include elemAutoWidth(202);
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
		z-index: 2;
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_BtnRobotRemoveInstruction {
	@include text-alignment(left);
}
#ContentRobotTeaching_BtnRobotEditInstruction {
	@include elemTop(505);
}
#ContentRobotTeaching_BtnRobotEditInstruction {
	@include elemLeft(20);
}
#ContentRobotTeaching_BtnRobotEditInstruction {
	@include elemAutoWidth(200);
}
#ContentRobotTeaching_BtnRobotEditInstruction {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotEditInstruction {
		z-index: 3;
}
#ContentRobotTeaching_BtnRobotEditInstruction {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_BtnRobotEditInstruction {
	@include text-alignment(left);
}
#ContentRobotTeaching_BtnRobotAddAbove {
	@include elemTop(365);
}
#ContentRobotTeaching_BtnRobotAddAbove {
	@include elemLeft(20);
}
#ContentRobotTeaching_BtnRobotAddAbove {
	@include elemAutoWidth(200);
}
#ContentRobotTeaching_BtnRobotAddAbove {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotAddAbove {
		z-index: 4;
}
#ContentRobotTeaching_BtnRobotAddAbove {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_BtnRobotAddAbove {
	@include text-alignment(left);
}
#ContentRobotTeaching_GroupBox1 {
	@include elemTop(10);
}
#ContentRobotTeaching_GroupBox1 {
	@include elemLeft(10);
}
#ContentRobotTeaching_GroupBox1 {
	@include elemWidth(230);
}
#ContentRobotTeaching_GroupBox1 {
	@include elemHeight(250);
}
#ContentRobotTeaching_GroupBox1 {
		z-index: 5;
}
#ContentRobotTeaching_DropDownPredefinedSpeed {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#ContentRobotTeaching_DropDownPredefinedSpeed {
	@include elemTop(118);
}
#ContentRobotTeaching_DropDownPredefinedSpeed {
	@include elemLeft(100);
}
#ContentRobotTeaching_DropDownPredefinedSpeed {
	&.DropDownBoxView{
	@include elemWidth(120);
	}
}
#ContentRobotTeaching_DropDownPredefinedSpeed {
		z-index: 0;
}
#ContentRobotTeaching_DropDownPredefinedSpeed_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected){
		background-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_DropDownPredefinedZone {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#ContentRobotTeaching_DropDownPredefinedZone {
	@include elemTop(158);
}
#ContentRobotTeaching_DropDownPredefinedZone {
	@include elemLeft(100);
}
#ContentRobotTeaching_DropDownPredefinedZone {
	&.DropDownBoxView{
	@include elemWidth(120);
	}
}
#ContentRobotTeaching_DropDownPredefinedZone {
		z-index: 1;
}
#ContentRobotTeaching_DropDownPredefinedZone_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected){
		background-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_DropDownInstructionType {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#ContentRobotTeaching_DropDownInstructionType {
	@include elemTop(77);
}
#ContentRobotTeaching_DropDownInstructionType {
	@include elemLeft(100);
}
#ContentRobotTeaching_DropDownInstructionType {
	&.DropDownBoxView{
	@include elemWidth(120);
	}
}
#ContentRobotTeaching_DropDownInstructionType {
		z-index: 2;
}
#ContentRobotTeaching_DropDownInstructionType_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected){
		background-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_LabelRobotInstrType {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotInstrType {
	@include elemTop(77);
}
#ContentRobotTeaching_LabelRobotInstrType {
	@include elemLeft(10);
}
#ContentRobotTeaching_LabelRobotInstrType {
	@include elemAutoWidth(142);
}
#ContentRobotTeaching_LabelRobotInstrType {
		z-index: 3;
}
#ContentRobotTeaching_LabelRobotInstrSpeed {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotInstrSpeed {
	@include elemTop(118);
}
#ContentRobotTeaching_LabelRobotInstrSpeed {
	@include elemLeft(10);
}
#ContentRobotTeaching_LabelRobotInstrSpeed {
	@include elemAutoWidth(142);
}
#ContentRobotTeaching_LabelRobotInstrSpeed {
		z-index: 4;
}
#ContentRobotTeaching_LabelRobotInstrZone {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotInstrZone {
	@include elemTop(158);
}
#ContentRobotTeaching_LabelRobotInstrZone {
	@include elemLeft(10);
}
#ContentRobotTeaching_LabelRobotInstrZone {
	@include elemAutoWidth(142);
}
#ContentRobotTeaching_LabelRobotInstrZone {
		z-index: 5;
}
#ContentRobotTeaching_TextInputRobotPointName {
	@include elemHeight(30);
}
#ContentRobotTeaching_TextInputRobotPointName {
	@include elemTop(35);
}
#ContentRobotTeaching_TextInputRobotPointName {
	@include elemLeft(10);
}
#ContentRobotTeaching_TextInputRobotPointName {
	@include elemWidth(210);
}
#ContentRobotTeaching_TextInputRobotPointName {
		z-index: 6;
}
#ContentRobotTeaching_LabelRobotInstrPointName {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotInstrPointName {
	@include elemTop(10);
}
#ContentRobotTeaching_LabelRobotInstrPointName {
	@include elemLeft(10);
}
#ContentRobotTeaching_LabelRobotInstrPointName {
	@include elemAutoWidth(160);
}
#ContentRobotTeaching_LabelRobotInstrPointName {
		z-index: 7;
}
#ContentRobotTeaching_BtnRobotClearList {
	@include elemTop(405);
}
#ContentRobotTeaching_BtnRobotClearList {
	@include elemLeft(480);
}
#ContentRobotTeaching_BtnRobotClearList {
	@include elemAutoWidth(202);
}
#ContentRobotTeaching_BtnRobotClearList {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotClearList {
		z-index: 6;
}
#ContentRobotTeaching_BtnRobotClearList {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_BtnRobotClearList {
	@include text-alignment(left);
}
#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
	@include elemTop(445);
}
#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
	@include elemLeft(20);
}
#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
	@include elemAutoWidth(200);
}
#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
	@include elemAutoHeight(55);
}
#ContentRobotTeaching_CheckBoxTeachingKeepTargetPos {
		z-index: 7;
}
#ContentRobotTeaching_GroupBox2 {
	@include elemTop(659);
}
#ContentRobotTeaching_GroupBox2 {
	@include elemLeft(758);
}
#ContentRobotTeaching_GroupBox2 {
	@include elemWidth(562);
}
#ContentRobotTeaching_GroupBox2 {
	@include elemHeight(155);
}
#ContentRobotTeaching_GroupBox2 {
		z-index: 4;
}
#ContentRobotTeaching_LabelRobotProcName {
	@include elemAutoHeight(30);
}
#ContentRobotTeaching_LabelRobotProcName {
	@include elemTop(15);
}
#ContentRobotTeaching_LabelRobotProcName {
	@include elemLeft(10);
}
#ContentRobotTeaching_LabelRobotProcName {
	@include elemAutoWidth(160);
}
#ContentRobotTeaching_LabelRobotProcName {
		z-index: 1;
}
#ContentRobotTeaching_TextInputRobotModuleName {
	@include elemHeight(30);
}
#ContentRobotTeaching_TextInputRobotModuleName {
	@include elemTop(50);
}
#ContentRobotTeaching_TextInputRobotModuleName {
	@include elemLeft(10);
}
#ContentRobotTeaching_TextInputRobotModuleName {
	@include elemWidth(300);
}
#ContentRobotTeaching_TextInputRobotModuleName {
		z-index: 0;
}
#ContentRobotTeaching_BtnRobotCreateFile {
	@include elemTop(24);
}
#ContentRobotTeaching_BtnRobotCreateFile {
	@include elemLeft(341);
}
#ContentRobotTeaching_BtnRobotCreateFile {
	@include elemAutoWidth(200);
}
#ContentRobotTeaching_BtnRobotCreateFile {
	@include elemAutoHeight(60);
}
#ContentRobotTeaching_BtnRobotCreateFile {
		z-index: 2;
}
#ContentRobotTeaching_BtnRobotCreateFile {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#ContentRobotTeaching_BtnRobotCreateFile {
	@include text-alignment(left);
}
