#RobotTeachingTitle_LabelRobotTeachingTitle {
  top: 20px;
  position: absolute;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  left: 0px;
  position: absolute;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  width: 400px;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  height: 80px;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  z-index: 0;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  border-width: 0px 0px 0px 4px;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  border-color: #f89825;
}

#RobotTeachingTitle_LabelRobotTeachingTitle:before {
  border-color: #f89825;
}

#RobotTeachingTitle_LabelRobotTeachingTitle:after {
  border-color: #f89825;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  border-style: solid;
}

#RobotTeachingTitle_LabelRobotTeachingTitle:before {
  border-style: solid;
}

#RobotTeachingTitle_LabelRobotTeachingTitle:after {
  border-style: solid;
}

#RobotTeachingTitle_LabelRobotTeachingTitle span {
  color: #f89825;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  font-size: 24px;
}

#RobotTeachingTitle_LabelRobotTeachingTitle {
  font-weight: normal;
}

#RobotTeachingTitle_LabelRobotTeachingTitle span {
  padding: 5px 15px;
}
