#ContentRobotService_GroupRobotCommand {
  top: 20px;
  position: absolute;
}

#ContentRobotService_GroupRobotCommand {
  left: 20px;
  position: absolute;
}

#ContentRobotService_GroupRobotCommand {
  width: 340px;
}

#ContentRobotService_GroupRobotCommand {
  height: 380px;
}

#ContentRobotService_GroupRobotCommand {
  z-index: 0;
}

#ContentRobotService_GroupRobotCommand {
  border-width: 1px;
}

#ContentRobotService_GroupRobotCommand > .header {
  border-width: 1px;
}

#ContentRobotService_GroupRobotCommand {
  border-color: #646464;
}

#ContentRobotService_GroupRobotCommand > .header {
  border-color: #646464;
}

#ContentRobotService_BtnRobotMotorsOn {
  top: 101px;
  position: absolute;
}

#ContentRobotService_BtnRobotMotorsOn {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotMotorsOn {
  width: 140px;
}

#ContentRobotService_BtnRobotMotorsOn {
  height: 60px;
}

#ContentRobotService_BtnRobotMotorsOn {
  z-index: 0;
}

#ContentRobotService_BtnRobotMotorsOff {
  top: 101px;
  position: absolute;
}

#ContentRobotService_BtnRobotMotorsOff {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnRobotMotorsOff {
  width: 140px;
}

#ContentRobotService_BtnRobotMotorsOff {
  height: 60px;
}

#ContentRobotService_BtnRobotMotorsOff {
  z-index: 1;
}

#ContentRobotService_BtnRobotStart {
  top: 182px;
  position: absolute;
}

#ContentRobotService_BtnRobotStart {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotStart {
  width: 140px;
}

#ContentRobotService_BtnRobotStart {
  height: 60px;
}

#ContentRobotService_BtnRobotStart {
  z-index: 2;
}

#ContentRobotService_BtnRobotStartMain {
  top: 182px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartMain {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartMain {
  width: 140px;
}

#ContentRobotService_BtnRobotStartMain {
  height: 60px;
}

#ContentRobotService_BtnRobotStartMain {
  z-index: 3;
}

#ContentRobotService_BtnRobotStop {
  top: 262px;
  position: absolute;
}

#ContentRobotService_BtnRobotStop {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotStop {
  width: 140px;
}

#ContentRobotService_BtnRobotStop {
  height: 60px;
}

#ContentRobotService_BtnRobotStop {
  z-index: 4;
}

#ContentRobotService_BtnRobotEnable {
  top: 23px;
  position: absolute;
}

#ContentRobotService_BtnRobotEnable {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotEnable {
  width: 140px;
}

#ContentRobotService_BtnRobotEnable {
  height: 60px;
}

#ContentRobotService_BtnRobotEnable {
  z-index: 5;
}

#ContentRobotService_BtnControllerErrorReset {
  top: 23px;
  position: absolute;
}

#ContentRobotService_BtnControllerErrorReset {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnControllerErrorReset {
  width: 140px;
}

#ContentRobotService_BtnControllerErrorReset {
  height: 60px;
}

#ContentRobotService_BtnControllerErrorReset {
  z-index: 6;
}

#ContentRobotService_GroupRobotStatus {
  top: 20px;
  position: absolute;
}

#ContentRobotService_GroupRobotStatus {
  left: 380px;
  position: absolute;
}

#ContentRobotService_GroupRobotStatus {
  width: 338px;
}

#ContentRobotService_GroupRobotStatus {
  height: 780px;
}

#ContentRobotService_GroupRobotStatus {
  z-index: 1;
}

#ContentRobotService_GroupRobotStatus {
  border-width: 1px;
}

#ContentRobotService_GroupRobotStatus > .header {
  border-width: 1px;
}

#ContentRobotService_GroupRobotStatus {
  border-color: #646464;
}

#ContentRobotService_GroupRobotStatus > .header {
  border-color: #646464;
}

#ContentRobotService_LabelRobotCommunication {
  top: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotCommunication {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotCommunication {
  width: 300px;
}

#ContentRobotService_LabelRobotCommunication {
  height: 40px;
}

#ContentRobotService_LabelRobotCommunication {
  z-index: 0;
}

#ContentRobotService_LabelRobotCommunication {
  background-color: white;
}

#ContentRobotService_LabelRobotCommunication span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_LabelRobotMotors {
  top: 85px;
  position: absolute;
}

#ContentRobotService_LabelRobotMotors {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotMotors {
  width: 300px;
}

#ContentRobotService_LabelRobotMotors {
  height: 40px;
}

#ContentRobotService_LabelRobotMotors {
  z-index: 1;
}

#ContentRobotService_LabelRobotMotors {
  background-color: white;
}

#ContentRobotService_LabelRobotMotors span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_LabelRobotMotionTask {
  top: 145px;
  position: absolute;
}

#ContentRobotService_LabelRobotMotionTask {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotMotionTask {
  width: 300px;
}

#ContentRobotService_LabelRobotMotionTask {
  height: 40px;
}

#ContentRobotService_LabelRobotMotionTask {
  z-index: 2;
}

#ContentRobotService_LabelRobotMotionTask {
  background-color: white;
}

#ContentRobotService_LabelRobotMotionTask span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_LabelControllerErrorCode {
  top: 265px;
  position: absolute;
}

#ContentRobotService_LabelControllerErrorCode {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelControllerErrorCode {
  width: 300px;
}

#ContentRobotService_LabelControllerErrorCode {
  height: 40px;
}

#ContentRobotService_LabelControllerErrorCode {
  z-index: 3;
}

#ContentRobotService_LabelControllerErrorCode {
  background-color: white;
}

#ContentRobotService_LabelControllerErrorCode span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_NumOutControllerErrorCode {
  top: 265px;
  position: absolute;
}

#ContentRobotService_NumOutControllerErrorCode {
  left: 165px;
  position: absolute;
}

#ContentRobotService_NumOutControllerErrorCode {
  width: 150px;
}

#ContentRobotService_NumOutControllerErrorCode {
  height: 40px;
}

#ContentRobotService_NumOutControllerErrorCode {
  z-index: 4;
}

#ContentRobotService_NumOutControllerErrorCode input {
  color: #646464;
}

#ContentRobotService_NumOutControllerErrorCode span.breaseNumericOutput_unit {
  color: #646464;
}

#ContentRobotService_NumOutControllerErrorCode input {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_NumOutControllerErrorCode input {
  font-size: 20px;
}

#ContentRobotService_NumOutControllerErrorCode {
  padding: 5px;
}

#ContentRobotService_TextRobotCommunication {
  top: 20px;
  position: absolute;
}

#ContentRobotService_TextRobotCommunication {
  left: 165px;
  position: absolute;
}

#ContentRobotService_TextRobotCommunication.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotCommunication.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotCommunication {
  z-index: 5;
}

#ContentRobotService_TextRobotCommunication > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotCommunication > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotCommunication > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotCommunication > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotCommunication > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotCommunication > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotCommunication > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotCommunication .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotCommunication .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotCommunication_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotMotors {
  top: 85px;
  position: absolute;
}

#ContentRobotService_TextRobotMotors {
  left: 165px;
  position: absolute;
}

#ContentRobotService_TextRobotMotors.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotMotors.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotMotors {
  z-index: 6;
}

#ContentRobotService_TextRobotMotors > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotMotors > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotMotors > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotMotors_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotMotors > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotMotors > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotMotors > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotMotors > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotMotors_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotMotors_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotMotors_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotMotors_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotMotors .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotMotors_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotMotors .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotMotors_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotMotionTask {
  top: 145px;
  position: absolute;
}

#ContentRobotService_TextRobotMotionTask {
  left: 165px;
  position: absolute;
}

#ContentRobotService_TextRobotMotionTask.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotMotionTask.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotMotionTask {
  z-index: 7;
}

#ContentRobotService_TextRobotMotionTask > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotMotionTask > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotMotionTask > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotMotionTask > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotMotionTask > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotMotionTask > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotMotionTask > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotMotionTask .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotMotionTask .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotMotionTask_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_LabelRobotMode {
  top: 205px;
  position: absolute;
}

#ContentRobotService_LabelRobotMode {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotMode {
  width: 300px;
}

#ContentRobotService_LabelRobotMode {
  height: 40px;
}

#ContentRobotService_LabelRobotMode {
  z-index: 8;
}

#ContentRobotService_LabelRobotMode {
  background-color: white;
}

#ContentRobotService_LabelRobotMode span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_TextRobotMode {
  top: 205px;
  position: absolute;
}

#ContentRobotService_TextRobotMode {
  left: 165px;
  position: absolute;
}

#ContentRobotService_TextRobotMode.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotMode.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotMode {
  z-index: 9;
}

#ContentRobotService_TextRobotMode > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotMode > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotMode > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotMode_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotMode > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotMode > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotMode > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotMode > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotMode_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 0px;
}

#ContentRobotService_TextRobotMode_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotMode_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotMode_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotMode .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotMode_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotMode .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotMode_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_CheckBox1 {
  height: 30px;
}

#ContentRobotService_CheckBox1 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_CheckBox1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox1 {
  width: 170px;
}

#ContentRobotService_CheckBox1 {
  z-index: 10;
}

#ContentRobotService_CheckBox1.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox1.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox1.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox1.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox1.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox1:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox1.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox1.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox1.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox2 {
  height: 30px;
}

#ContentRobotService_CheckBox2 {
  top: 420px;
  position: absolute;
}

#ContentRobotService_CheckBox2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox2 {
  width: 170px;
}

#ContentRobotService_CheckBox2 {
  z-index: 11;
}

#ContentRobotService_CheckBox2.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox2.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox2.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox2.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox2.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox2:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox2.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox2.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox2.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox3 {
  height: 30px;
}

#ContentRobotService_CheckBox3 {
  top: 500px;
  position: absolute;
}

#ContentRobotService_CheckBox3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox3 {
  width: 170px;
}

#ContentRobotService_CheckBox3 {
  z-index: 12;
}

#ContentRobotService_CheckBox3:not(.disabled) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox3.disabled span {
  color: #ff8800;
}

#ContentRobotService_CheckBox3.disabled.checked span {
  border-color: #ff8800;
}

#ContentRobotService_CheckBox3.disabled.active span {
  border-color: #ff8800;
}

#ContentRobotService_CheckBox3.checked:not(.disabled):not(.active) span {
  color: #474747;
}

#ContentRobotService_CheckBox3.disabled.checked:not(.active) span {
  color: #474747;
}

#ContentRobotService_CheckBox3:not(.disabled):not(.checked) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox3.checked:not(.disabled) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox3.disabled:not(.checked) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox3.checked.disabled svg {
  fill: #474747;
}

#ContentRobotService_CheckBox4 {
  height: 30px;
}

#ContentRobotService_CheckBox4 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_CheckBox4 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox4 {
  width: 170px;
}

#ContentRobotService_CheckBox4 {
  z-index: 13;
}

#ContentRobotService_CheckBox4.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox4.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox4.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox4.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox4.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox4:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox4.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox4.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox4.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_TabRobot {
  top: 20px;
  position: absolute;
}

#ContentRobotService_TabRobot {
  left: 740px;
  position: absolute;
}

#ContentRobotService_TabRobot {
  width: 400px;
}

#ContentRobotService_TabRobot {
  height: 780px;
}

#ContentRobotService_TabRobot {
  z-index: 2;
}

#ContentRobotService_TabRobot > .tabItemContainer {
  background-color: #d6d6d6;
}

#ContentRobotService_TabRobot > .tabItemContainer {
  border-style: solid;
}

#ContentRobotService_TabRobot > .tabItemContainer {
  border-width: 1px 0px 1px 1px;
}

#ContentRobotService_TabItem1_breaseTabItemTab.tabItem {
  width: 100px;
}

#ContentRobotService_TabItem1_breaseTabItemTab.tabItem {
  height: 30px;
}

#ContentRobotService_TabItem1 {
  z-index: 0;
}

#ContentRobotService_GroupRobotControl {
  top: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl {
  left: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl {
  width: 320px;
}

#ContentRobotService_GroupRobotControl {
  height: 540px;
}

#ContentRobotService_GroupRobotControl {
  z-index: 0;
}

#ContentRobotService_BtnRobotTransferModule {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule {
  width: 140px;
}

#ContentRobotService_BtnRobotTransferModule {
  height: 60px;
}

#ContentRobotService_BtnRobotTransferModule {
  z-index: 0;
}

#ContentRobotService_BtnRobotStartProc {
  top: 245px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc {
  width: 140px;
}

#ContentRobotService_BtnRobotStartProc {
  height: 60px;
}

#ContentRobotService_BtnRobotStartProc {
  z-index: 1;
}

#ContentRobotService_BtnRobotLoadModule {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule {
  left: 170px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule {
  width: 120px;
}

#ContentRobotService_BtnRobotLoadModule {
  height: 60px;
}

#ContentRobotService_BtnRobotLoadModule {
  z-index: 3;
}

#ContentRobotService_TextInputRobotModuleName {
  height: 30px;
}

#ContentRobotService_TextInputRobotModuleName {
  top: 45px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName {
  width: 270px;
}

#ContentRobotService_TextInputRobotModuleName {
  z-index: 4;
}

#ContentRobotService_TextInputRobotProcName {
  height: 30px;
}

#ContentRobotService_TextInputRobotProcName {
  top: 205px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName {
  width: 270px;
}

#ContentRobotService_TextInputRobotProcName {
  z-index: 5;
}

#ContentRobotService_LabelRobotProcName {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName {
  width: 270px;
}

#ContentRobotService_LabelRobotProcName {
  height: 40px;
}

#ContentRobotService_LabelRobotProcName {
  z-index: 6;
}

#ContentRobotService_LabelRobotModuleName {
  height: 30px;
}

#ContentRobotService_LabelRobotModuleName {
  top: 15px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName {
  width: 160px;
}

#ContentRobotService_LabelRobotModuleName {
  z-index: 7;
}

#ContentRobotService_NumInpRobotSpeed {
  height: 30px;
}

#ContentRobotService_NumInpRobotSpeed {
  top: 460px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed {
  left: 180px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed {
  width: 110px;
}

#ContentRobotService_NumInpRobotSpeed {
  z-index: 8;
}

#ContentRobotService_LabelRobotSpeedOverride {
  height: 30px;
}

#ContentRobotService_LabelRobotSpeedOverride {
  top: 460px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride {
  width: 160px;
}

#ContentRobotService_LabelRobotSpeedOverride {
  z-index: 9;
}

#ContentRobotService_LabelRobotProc {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc {
  width: 270px;
}

#ContentRobotService_LabelRobotProc {
  height: 40px;
}

#ContentRobotService_LabelRobotProc {
  z-index: 10;
}

#ContentRobotService_LabelRobotProc {
  background-color: white;
}

#ContentRobotService_LabelRobotProc span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_TextRobotProcedure {
  top: 322px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure {
  left: 138px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotProcedure.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotProcedure {
  z-index: 11;
}

#ContentRobotService_TextRobotProcedure > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotProcedure > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotProcedure_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_BtnRobotAutoExec {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec {
  width: 140px;
}

#ContentRobotService_BtnRobotAutoExec {
  height: 60px;
}

#ContentRobotService_BtnRobotAutoExec {
  z-index: 2;
}

#ContentRobotService_BtnLimSpeed {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed {
  width: 108px;
}

#ContentRobotService_BtnLimSpeed {
  height: 60px;
}

#ContentRobotService_BtnLimSpeed {
  z-index: 12;
}

#ContentRobotService_LabelRobotErrorCode1 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode1 {
  width: 280px;
}

#ContentRobotService_LabelRobotErrorCode1 {
  height: 40px;
}

#ContentRobotService_LabelRobotErrorCode1 {
  z-index: 1;
}

#ContentRobotService_LabelRobotErrorCode1 {
  background-color: white;
}

#ContentRobotService_LabelRobotErrorCode1 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_NumOutRobotErrorCode1 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode1 {
  left: 150px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode1 {
  width: 150px;
}

#ContentRobotService_NumOutRobotErrorCode1 {
  height: 40px;
}

#ContentRobotService_NumOutRobotErrorCode1 {
  z-index: 2;
}

#ContentRobotService_NumOutRobotErrorCode1 input {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode1 span.breaseNumericOutput_unit {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode1 input {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_NumOutRobotErrorCode1 input {
  font-size: 20px;
}

#ContentRobotService_NumOutRobotErrorCode1 {
  padding: 5px;
}

#ContentRobotService_BtnRobotErrorReset {
  top: 600px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset {
  width: 140px;
}

#ContentRobotService_BtnRobotErrorReset {
  height: 60px;
}

#ContentRobotService_BtnRobotErrorReset {
  z-index: 3;
}

#ContentRobotService_CheckBox5 {
  height: 30px;
}

#ContentRobotService_CheckBox5 {
  top: 698px;
  position: absolute;
}

#ContentRobotService_CheckBox5 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox5 {
  width: 170px;
}

#ContentRobotService_CheckBox5 {
  z-index: 4;
}

#ContentRobotService_CheckBox5.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox5.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox5.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox5.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox5.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox5:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox5.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox5.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox5.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_TabItem2_breaseTabItemTab.tabItem {
  width: 100px;
}

#ContentRobotService_TabItem2_breaseTabItemTab.tabItem {
  height: 30px;
}

#ContentRobotService_TabItem2 {
  z-index: 1;
}

#ContentRobotService_GroupRobotControl1 {
  top: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl1 {
  left: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl1 {
  width: 320px;
}

#ContentRobotService_GroupRobotControl1 {
  height: 540px;
}

#ContentRobotService_GroupRobotControl1 {
  z-index: 0;
}

#ContentRobotService_BtnRobotTransferModule1 {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule1 {
  width: 140px;
}

#ContentRobotService_BtnRobotTransferModule1 {
  height: 60px;
}

#ContentRobotService_BtnRobotTransferModule1 {
  z-index: 0;
}

#ContentRobotService_BtnRobotStartProc1 {
  top: 245px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc1 {
  width: 140px;
}

#ContentRobotService_BtnRobotStartProc1 {
  height: 60px;
}

#ContentRobotService_BtnRobotStartProc1 {
  z-index: 1;
}

#ContentRobotService_BtnRobotLoadModule1 {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule1 {
  left: 170px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule1 {
  width: 120px;
}

#ContentRobotService_BtnRobotLoadModule1 {
  height: 60px;
}

#ContentRobotService_BtnRobotLoadModule1 {
  z-index: 2;
}

#ContentRobotService_TextInputRobotModuleName1 {
  height: 30px;
}

#ContentRobotService_TextInputRobotModuleName1 {
  top: 45px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName1 {
  width: 270px;
}

#ContentRobotService_TextInputRobotModuleName1 {
  z-index: 3;
}

#ContentRobotService_TextInputRobotProcName1 {
  height: 30px;
}

#ContentRobotService_TextInputRobotProcName1 {
  top: 205px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName1 {
  width: 270px;
}

#ContentRobotService_TextInputRobotProcName1 {
  z-index: 4;
}

#ContentRobotService_LabelRobotProcName1 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName1 {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName1 {
  width: 270px;
}

#ContentRobotService_LabelRobotProcName1 {
  height: 40px;
}

#ContentRobotService_LabelRobotProcName1 {
  z-index: 5;
}

#ContentRobotService_LabelRobotModuleName1 {
  height: 30px;
}

#ContentRobotService_LabelRobotModuleName1 {
  top: 15px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName1 {
  width: 160px;
}

#ContentRobotService_LabelRobotModuleName1 {
  z-index: 6;
}

#ContentRobotService_NumInpRobotSpeed1 {
  height: 30px;
}

#ContentRobotService_NumInpRobotSpeed1 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed1 {
  left: 180px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed1 {
  width: 110px;
}

#ContentRobotService_NumInpRobotSpeed1 {
  z-index: 7;
}

#ContentRobotService_LabelRobotSpeedOverride1 {
  height: 30px;
}

#ContentRobotService_LabelRobotSpeedOverride1 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride1 {
  width: 160px;
}

#ContentRobotService_LabelRobotSpeedOverride1 {
  z-index: 8;
}

#ContentRobotService_LabelRobotProc1 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc1 {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc1 {
  width: 270px;
}

#ContentRobotService_LabelRobotProc1 {
  height: 40px;
}

#ContentRobotService_LabelRobotProc1 {
  z-index: 9;
}

#ContentRobotService_LabelRobotProc1 {
  background-color: white;
}

#ContentRobotService_LabelRobotProc1 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_TextRobotProcedure1 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure1 {
  left: 138px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure1.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotProcedure1.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotProcedure1 {
  z-index: 10;
}

#ContentRobotService_TextRobotProcedure1 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure1 > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotProcedure1 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure1 > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure1 > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure1 > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure1 > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure1 .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure1 .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotProcedure1_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_BtnRobotAutoExec1 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec1 {
  width: 140px;
}

#ContentRobotService_BtnRobotAutoExec1 {
  height: 60px;
}

#ContentRobotService_BtnRobotAutoExec1 {
  z-index: 11;
}

#ContentRobotService_BtnLimSpeed1 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed1 {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed1 {
  width: 108px;
}

#ContentRobotService_BtnLimSpeed1 {
  height: 60px;
}

#ContentRobotService_BtnLimSpeed1 {
  z-index: 12;
}

#ContentRobotService_LabelRobotErrorCode2 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode2 {
  width: 280px;
}

#ContentRobotService_LabelRobotErrorCode2 {
  height: 40px;
}

#ContentRobotService_LabelRobotErrorCode2 {
  z-index: 1;
}

#ContentRobotService_LabelRobotErrorCode2 {
  background-color: white;
}

#ContentRobotService_LabelRobotErrorCode2 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_NumOutRobotErrorCode2 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode2 {
  left: 150px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode2 {
  width: 150px;
}

#ContentRobotService_NumOutRobotErrorCode2 {
  height: 40px;
}

#ContentRobotService_NumOutRobotErrorCode2 {
  z-index: 2;
}

#ContentRobotService_NumOutRobotErrorCode2 input {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode2 span.breaseNumericOutput_unit {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode2 input {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_NumOutRobotErrorCode2 input {
  font-size: 20px;
}

#ContentRobotService_NumOutRobotErrorCode2 {
  padding: 5px;
}

#ContentRobotService_BtnRobotErrorReset1 {
  top: 600px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset1 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset1 {
  width: 140px;
}

#ContentRobotService_BtnRobotErrorReset1 {
  height: 60px;
}

#ContentRobotService_BtnRobotErrorReset1 {
  z-index: 3;
}

#ContentRobotService_CheckBox6 {
  height: 30px;
}

#ContentRobotService_CheckBox6 {
  top: 698px;
  position: absolute;
}

#ContentRobotService_CheckBox6 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox6 {
  width: 170px;
}

#ContentRobotService_CheckBox6 {
  z-index: 4;
}

#ContentRobotService_CheckBox6.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox6.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox6.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox6.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox6.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox6:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox6.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox6.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox6.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_TabItem3_breaseTabItemTab.tabItem {
  width: 100px;
}

#ContentRobotService_TabItem3_breaseTabItemTab.tabItem {
  height: 30px;
}

#ContentRobotService_TabItem3 {
  z-index: 2;
}

#ContentRobotService_GroupRobotControl2 {
  top: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl2 {
  left: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl2 {
  width: 320px;
}

#ContentRobotService_GroupRobotControl2 {
  height: 540px;
}

#ContentRobotService_GroupRobotControl2 {
  z-index: 0;
}

#ContentRobotService_BtnRobotTransferModule2 {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule2 {
  width: 140px;
}

#ContentRobotService_BtnRobotTransferModule2 {
  height: 60px;
}

#ContentRobotService_BtnRobotTransferModule2 {
  z-index: 0;
}

#ContentRobotService_BtnRobotStartProc2 {
  top: 245px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc2 {
  width: 140px;
}

#ContentRobotService_BtnRobotStartProc2 {
  height: 60px;
}

#ContentRobotService_BtnRobotStartProc2 {
  z-index: 1;
}

#ContentRobotService_BtnRobotLoadModule2 {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule2 {
  left: 170px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule2 {
  width: 120px;
}

#ContentRobotService_BtnRobotLoadModule2 {
  height: 60px;
}

#ContentRobotService_BtnRobotLoadModule2 {
  z-index: 2;
}

#ContentRobotService_TextInputRobotModuleName2 {
  height: 30px;
}

#ContentRobotService_TextInputRobotModuleName2 {
  top: 45px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName2 {
  width: 270px;
}

#ContentRobotService_TextInputRobotModuleName2 {
  z-index: 3;
}

#ContentRobotService_TextInputRobotProcName2 {
  height: 30px;
}

#ContentRobotService_TextInputRobotProcName2 {
  top: 205px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName2 {
  width: 270px;
}

#ContentRobotService_TextInputRobotProcName2 {
  z-index: 4;
}

#ContentRobotService_LabelRobotProcName2 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName2 {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName2 {
  width: 270px;
}

#ContentRobotService_LabelRobotProcName2 {
  height: 40px;
}

#ContentRobotService_LabelRobotProcName2 {
  z-index: 5;
}

#ContentRobotService_LabelRobotModuleName2 {
  height: 30px;
}

#ContentRobotService_LabelRobotModuleName2 {
  top: 15px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName2 {
  width: 160px;
}

#ContentRobotService_LabelRobotModuleName2 {
  z-index: 6;
}

#ContentRobotService_NumInpRobotSpeed2 {
  height: 30px;
}

#ContentRobotService_NumInpRobotSpeed2 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed2 {
  left: 180px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed2 {
  width: 110px;
}

#ContentRobotService_NumInpRobotSpeed2 {
  z-index: 7;
}

#ContentRobotService_LabelRobotSpeedOverride2 {
  height: 30px;
}

#ContentRobotService_LabelRobotSpeedOverride2 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride2 {
  width: 160px;
}

#ContentRobotService_LabelRobotSpeedOverride2 {
  z-index: 8;
}

#ContentRobotService_LabelRobotProc2 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc2 {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc2 {
  width: 270px;
}

#ContentRobotService_LabelRobotProc2 {
  height: 40px;
}

#ContentRobotService_LabelRobotProc2 {
  z-index: 9;
}

#ContentRobotService_LabelRobotProc2 {
  background-color: white;
}

#ContentRobotService_LabelRobotProc2 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_TextRobotProcedure2 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure2 {
  left: 138px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure2.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotProcedure2.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotProcedure2 {
  z-index: 10;
}

#ContentRobotService_TextRobotProcedure2 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure2 > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotProcedure2 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure2 > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure2 > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure2 > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure2 > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure2 .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure2 .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotProcedure2_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_BtnRobotAutoExec2 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec2 {
  width: 140px;
}

#ContentRobotService_BtnRobotAutoExec2 {
  height: 60px;
}

#ContentRobotService_BtnRobotAutoExec2 {
  z-index: 11;
}

#ContentRobotService_BtnLimSpeed2 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed2 {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed2 {
  width: 108px;
}

#ContentRobotService_BtnLimSpeed2 {
  height: 60px;
}

#ContentRobotService_BtnLimSpeed2 {
  z-index: 12;
}

#ContentRobotService_LabelRobotErrorCode3 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode3 {
  width: 280px;
}

#ContentRobotService_LabelRobotErrorCode3 {
  height: 40px;
}

#ContentRobotService_LabelRobotErrorCode3 {
  z-index: 1;
}

#ContentRobotService_LabelRobotErrorCode3 {
  background-color: white;
}

#ContentRobotService_LabelRobotErrorCode3 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_NumOutRobotErrorCode3 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode3 {
  left: 150px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode3 {
  width: 150px;
}

#ContentRobotService_NumOutRobotErrorCode3 {
  height: 40px;
}

#ContentRobotService_NumOutRobotErrorCode3 {
  z-index: 2;
}

#ContentRobotService_NumOutRobotErrorCode3 input {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode3 span.breaseNumericOutput_unit {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode3 input {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_NumOutRobotErrorCode3 input {
  font-size: 20px;
}

#ContentRobotService_NumOutRobotErrorCode3 {
  padding: 5px;
}

#ContentRobotService_BtnRobotErrorReset2 {
  top: 600px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset2 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset2 {
  width: 140px;
}

#ContentRobotService_BtnRobotErrorReset2 {
  height: 60px;
}

#ContentRobotService_BtnRobotErrorReset2 {
  z-index: 3;
}

#ContentRobotService_CheckBox7 {
  height: 30px;
}

#ContentRobotService_CheckBox7 {
  top: 698px;
  position: absolute;
}

#ContentRobotService_CheckBox7 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox7 {
  width: 170px;
}

#ContentRobotService_CheckBox7 {
  z-index: 4;
}

#ContentRobotService_CheckBox7.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox7.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox7.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox7.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox7.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox7:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox7.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox7.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox7.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_TabItem4_breaseTabItemTab.tabItem {
  width: 100px;
}

#ContentRobotService_TabItem4_breaseTabItemTab.tabItem {
  height: 30px;
}

#ContentRobotService_TabItem4 {
  z-index: 3;
}

#ContentRobotService_GroupRobotControl3 {
  top: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl3 {
  left: 0px;
  position: absolute;
}

#ContentRobotService_GroupRobotControl3 {
  width: 320px;
}

#ContentRobotService_GroupRobotControl3 {
  height: 540px;
}

#ContentRobotService_GroupRobotControl3 {
  z-index: 0;
}

#ContentRobotService_BtnRobotTransferModule3 {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotTransferModule3 {
  width: 140px;
}

#ContentRobotService_BtnRobotTransferModule3 {
  height: 60px;
}

#ContentRobotService_BtnRobotTransferModule3 {
  z-index: 0;
}

#ContentRobotService_BtnRobotStartProc3 {
  top: 245px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotStartProc3 {
  width: 140px;
}

#ContentRobotService_BtnRobotStartProc3 {
  height: 60px;
}

#ContentRobotService_BtnRobotStartProc3 {
  z-index: 1;
}

#ContentRobotService_BtnRobotLoadModule3 {
  top: 85px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule3 {
  left: 170px;
  position: absolute;
}

#ContentRobotService_BtnRobotLoadModule3 {
  width: 120px;
}

#ContentRobotService_BtnRobotLoadModule3 {
  height: 60px;
}

#ContentRobotService_BtnRobotLoadModule3 {
  z-index: 2;
}

#ContentRobotService_TextInputRobotModuleName3 {
  height: 30px;
}

#ContentRobotService_TextInputRobotModuleName3 {
  top: 45px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotModuleName3 {
  width: 270px;
}

#ContentRobotService_TextInputRobotModuleName3 {
  z-index: 3;
}

#ContentRobotService_TextInputRobotProcName3 {
  height: 30px;
}

#ContentRobotService_TextInputRobotProcName3 {
  top: 205px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_TextInputRobotProcName3 {
  width: 270px;
}

#ContentRobotService_TextInputRobotProcName3 {
  z-index: 4;
}

#ContentRobotService_LabelRobotProcName3 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName3 {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProcName3 {
  width: 270px;
}

#ContentRobotService_LabelRobotProcName3 {
  height: 40px;
}

#ContentRobotService_LabelRobotProcName3 {
  z-index: 5;
}

#ContentRobotService_LabelRobotModuleName3 {
  height: 30px;
}

#ContentRobotService_LabelRobotModuleName3 {
  top: 15px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotModuleName3 {
  width: 160px;
}

#ContentRobotService_LabelRobotModuleName3 {
  z-index: 6;
}

#ContentRobotService_NumInpRobotSpeed3 {
  height: 30px;
}

#ContentRobotService_NumInpRobotSpeed3 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed3 {
  left: 180px;
  position: absolute;
}

#ContentRobotService_NumInpRobotSpeed3 {
  width: 110px;
}

#ContentRobotService_NumInpRobotSpeed3 {
  z-index: 7;
}

#ContentRobotService_LabelRobotSpeedOverride3 {
  height: 30px;
}

#ContentRobotService_LabelRobotSpeedOverride3 {
  top: 460px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedOverride3 {
  width: 160px;
}

#ContentRobotService_LabelRobotSpeedOverride3 {
  z-index: 8;
}

#ContentRobotService_LabelRobotProc3 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc3 {
  left: 18px;
  position: absolute;
}

#ContentRobotService_LabelRobotProc3 {
  width: 270px;
}

#ContentRobotService_LabelRobotProc3 {
  height: 40px;
}

#ContentRobotService_LabelRobotProc3 {
  z-index: 9;
}

#ContentRobotService_LabelRobotProc3 {
  background-color: white;
}

#ContentRobotService_LabelRobotProc3 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_TextRobotProcedure3 {
  top: 322px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure3 {
  left: 138px;
  position: absolute;
}

#ContentRobotService_TextRobotProcedure3.DropDownBoxView {
  width: 150px;
}

#ContentRobotService_TextRobotProcedure3.DropDownBoxView {
  height: 40px;
}

#ContentRobotService_TextRobotProcedure3 {
  z-index: 10;
}

#ContentRobotService_TextRobotProcedure3 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure3 > .ItemView.itemDisabled {
  background-color: rgba(209, 209, 209, 0);
}

#ContentRobotService_TextRobotProcedure3 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper > .ListView.Container {
  border-color: rgba(255, 136, 0, 0);
}

#ContentRobotService_TextRobotProcedure3 > .ItemView.itemDisabled {
  border-color: rgba(255, 255, 255, 0);
}

#ContentRobotService_TextRobotProcedure3 > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure3 > .ItemView.itemDisabled > .TextView {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure3 > .ItemView {
  padding: 0px;
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  padding: 0px 10px;
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView.itemSelected {
  background-color: rgba(255, 133, 0, 0);
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView {
  border-bottom-color: transparent;
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
  color: #646464;
}

#ContentRobotService_TextRobotProcedure3 .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper .TextView {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_TextRobotProcedure3 .TextView {
  font-size: 18px;
}

#ContentRobotService_TextRobotProcedure3_listBoxWrapper .TextView {
  font-size: 18px;
}

#ContentRobotService_BtnRobotAutoExec3 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotAutoExec3 {
  width: 140px;
}

#ContentRobotService_BtnRobotAutoExec3 {
  height: 60px;
}

#ContentRobotService_BtnRobotAutoExec3 {
  z-index: 11;
}

#ContentRobotService_BtnLimSpeed3 {
  top: 380px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed3 {
  left: 180px;
  position: absolute;
}

#ContentRobotService_BtnLimSpeed3 {
  width: 108px;
}

#ContentRobotService_BtnLimSpeed3 {
  height: 60px;
}

#ContentRobotService_BtnLimSpeed3 {
  z-index: 12;
}

#ContentRobotService_LabelRobotErrorCode4 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode4 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_LabelRobotErrorCode4 {
  width: 280px;
}

#ContentRobotService_LabelRobotErrorCode4 {
  height: 40px;
}

#ContentRobotService_LabelRobotErrorCode4 {
  z-index: 1;
}

#ContentRobotService_LabelRobotErrorCode4 {
  background-color: white;
}

#ContentRobotService_LabelRobotErrorCode4 span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_NumOutRobotErrorCode4 {
  top: 550px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode4 {
  left: 150px;
  position: absolute;
}

#ContentRobotService_NumOutRobotErrorCode4 {
  width: 150px;
}

#ContentRobotService_NumOutRobotErrorCode4 {
  height: 40px;
}

#ContentRobotService_NumOutRobotErrorCode4 {
  z-index: 2;
}

#ContentRobotService_NumOutRobotErrorCode4 input {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode4 span.breaseNumericOutput_unit {
  color: #646464;
}

#ContentRobotService_NumOutRobotErrorCode4 input {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

#ContentRobotService_NumOutRobotErrorCode4 input {
  font-size: 20px;
}

#ContentRobotService_NumOutRobotErrorCode4 {
  padding: 5px;
}

#ContentRobotService_BtnRobotErrorReset3 {
  top: 600px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset3 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_BtnRobotErrorReset3 {
  width: 140px;
}

#ContentRobotService_BtnRobotErrorReset3 {
  height: 60px;
}

#ContentRobotService_BtnRobotErrorReset3 {
  z-index: 3;
}

#ContentRobotService_CheckBox8 {
  height: 30px;
}

#ContentRobotService_CheckBox8 {
  top: 698px;
  position: absolute;
}

#ContentRobotService_CheckBox8 {
  left: 20px;
  position: absolute;
}

#ContentRobotService_CheckBox8 {
  width: 170px;
}

#ContentRobotService_CheckBox8 {
  z-index: 4;
}

#ContentRobotService_CheckBox8.disabled span {
  color: #474747;
}

#ContentRobotService_CheckBox8.disabled.checked span {
  border-color: #474747;
}

#ContentRobotService_CheckBox8.disabled.active span {
  border-color: #474747;
}

#ContentRobotService_CheckBox8.checked:not(.disabled):not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox8.disabled.checked:not(.active) span {
  color: #ff8800;
}

#ContentRobotService_CheckBox8:not(.disabled):not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox8.checked:not(.disabled) svg {
  fill: #ff8800;
}

#ContentRobotService_CheckBox8.disabled:not(.checked) svg {
  fill: #474747;
}

#ContentRobotService_CheckBox8.checked.disabled svg {
  fill: #ff8800;
}

#ContentRobotService_GroupRobotPosition {
  top: 50px;
  position: absolute;
}

#ContentRobotService_GroupRobotPosition {
  left: 1070px;
  position: absolute;
}

#ContentRobotService_GroupRobotPosition {
  width: 470px;
}

#ContentRobotService_GroupRobotPosition {
  height: 750px;
}

#ContentRobotService_GroupRobotPosition {
  z-index: 3;
}

#ContentRobotService_GroupRobotPosition {
  border-width: 1px 1px 1px 0px;
}

#ContentRobotService_GroupRobotPosition > .header {
  border-width: 1px 1px 1px 0px;
}

#ContentRobotService_GroupRobotPosition {
  border-color: #646464;
}

#ContentRobotService_GroupRobotPosition > .header {
  border-color: #646464;
}

#ContentRobotService_GroupRobotRobtarget {
  top: 10px;
  position: absolute;
}

#ContentRobotService_GroupRobotRobtarget {
  left: 10px;
  position: absolute;
}

#ContentRobotService_GroupRobotRobtarget {
  width: 220px;
}

#ContentRobotService_GroupRobotRobtarget {
  height: 490px;
}

#ContentRobotService_GroupRobotRobtarget {
  z-index: 0;
}

#ContentRobotService_GroupRobotRobtarget {
  border-width: 1px;
}

#ContentRobotService_GroupRobotRobtarget > .header {
  border-width: 1px;
}

#ContentRobotService_GroupRobotRobtarget {
  border-color: white;
}

#ContentRobotService_GroupRobotRobtarget > .header {
  border-color: white;
}

#ContentRobotService_NumOutRobotTransX {
  height: 30px;
}

#ContentRobotService_NumOutRobotTransX {
  top: 10px;
  position: absolute;
}

#ContentRobotService_NumOutRobotTransX {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotTransX {
  width: 110px;
}

#ContentRobotService_NumOutRobotTransX {
  z-index: 0;
}

#ContentRobotService_NumOutRobotTransX {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotTransY {
  height: 30px;
}

#ContentRobotService_NumOutRobotTransY {
  top: 50px;
  position: absolute;
}

#ContentRobotService_NumOutRobotTransY {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotTransY {
  width: 110px;
}

#ContentRobotService_NumOutRobotTransY {
  z-index: 1;
}

#ContentRobotService_NumOutRobotTransY {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotTransZ {
  height: 30px;
}

#ContentRobotService_NumOutRobotTransZ {
  top: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotTransZ {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotTransZ {
  width: 110px;
}

#ContentRobotService_NumOutRobotTransZ {
  z-index: 2;
}

#ContentRobotService_NumOutRobotTransZ {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotRotQ1 {
  height: 30px;
}

#ContentRobotService_NumOutRobotRotQ1 {
  top: 130px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ1 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ1 {
  width: 110px;
}

#ContentRobotService_NumOutRobotRotQ1 {
  z-index: 3;
}

#ContentRobotService_NumOutRobotRotQ1 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotRotQ3 {
  height: 30px;
}

#ContentRobotService_NumOutRobotRotQ3 {
  top: 170px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ3 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ3 {
  width: 110px;
}

#ContentRobotService_NumOutRobotRotQ3 {
  z-index: 4;
}

#ContentRobotService_NumOutRobotRotQ3 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotRotQ2 {
  height: 30px;
}

#ContentRobotService_NumOutRobotRotQ2 {
  top: 210px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ2 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ2 {
  width: 110px;
}

#ContentRobotService_NumOutRobotRotQ2 {
  z-index: 5;
}

#ContentRobotService_NumOutRobotRotQ2 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotRotQ4 {
  height: 30px;
}

#ContentRobotService_NumOutRobotRotQ4 {
  top: 250px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ4 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotRotQ4 {
  width: 110px;
}

#ContentRobotService_NumOutRobotRotQ4 {
  z-index: 6;
}

#ContentRobotService_NumOutRobotRotQ4 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotConf1 {
  height: 30px;
}

#ContentRobotService_NumOutRobotConf1 {
  top: 290px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConf1 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConf1 {
  width: 110px;
}

#ContentRobotService_NumOutRobotConf1 {
  z-index: 7;
}

#ContentRobotService_NumOutRobotConf1 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotConf4 {
  height: 30px;
}

#ContentRobotService_NumOutRobotConf4 {
  top: 330px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConf4 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConf4 {
  width: 110px;
}

#ContentRobotService_NumOutRobotConf4 {
  z-index: 8;
}

#ContentRobotService_NumOutRobotConf4 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotConf6 {
  height: 30px;
}

#ContentRobotService_NumOutRobotConf6 {
  top: 370px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConf6 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConf6 {
  width: 110px;
}

#ContentRobotService_NumOutRobotConf6 {
  z-index: 9;
}

#ContentRobotService_NumOutRobotConf6 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_NumOutRobotConfX {
  height: 30px;
}

#ContentRobotService_NumOutRobotConfX {
  top: 410px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConfX {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotConfX {
  width: 110px;
}

#ContentRobotService_NumOutRobotConfX {
  z-index: 10;
}

#ContentRobotService_NumOutRobotConfX {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotTransX {
  width: 80px;
}

#ContentRobotService_LabelRobotTransX {
  height: 30px;
}

#ContentRobotService_LabelRobotTransX {
  top: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotTransX {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotTransX {
  z-index: 11;
}

#ContentRobotService_LabelRobotTransY {
  width: 80px;
}

#ContentRobotService_LabelRobotTransY {
  height: 30px;
}

#ContentRobotService_LabelRobotTransY {
  top: 50px;
  position: absolute;
}

#ContentRobotService_LabelRobotTransY {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotTransY {
  z-index: 12;
}

#ContentRobotService_LabelRobotTransZ {
  width: 80px;
}

#ContentRobotService_LabelRobotTransZ {
  height: 30px;
}

#ContentRobotService_LabelRobotTransZ {
  top: 90px;
  position: absolute;
}

#ContentRobotService_LabelRobotTransZ {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotTransZ {
  z-index: 13;
}

#ContentRobotService_LabelRobotRotQ1 {
  width: 80px;
}

#ContentRobotService_LabelRobotRotQ1 {
  height: 30px;
}

#ContentRobotService_LabelRobotRotQ1 {
  top: 130px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ1 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ1 {
  z-index: 14;
}

#ContentRobotService_LabelRobotRotQ2 {
  width: 80px;
}

#ContentRobotService_LabelRobotRotQ2 {
  height: 30px;
}

#ContentRobotService_LabelRobotRotQ2 {
  top: 170px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ2 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ2 {
  z-index: 15;
}

#ContentRobotService_LabelRobotRotQ3 {
  width: 80px;
}

#ContentRobotService_LabelRobotRotQ3 {
  height: 30px;
}

#ContentRobotService_LabelRobotRotQ3 {
  top: 210px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ3 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ3 {
  z-index: 16;
}

#ContentRobotService_LabelRobotRotQ4 {
  width: 80px;
}

#ContentRobotService_LabelRobotRotQ4 {
  height: 30px;
}

#ContentRobotService_LabelRobotRotQ4 {
  top: 250px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ4 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotRotQ4 {
  z-index: 21;
}

#ContentRobotService_LabelRobotConf1 {
  width: 80px;
}

#ContentRobotService_LabelRobotConf1 {
  height: 30px;
}

#ContentRobotService_LabelRobotConf1 {
  top: 290px;
  position: absolute;
}

#ContentRobotService_LabelRobotConf1 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotConf1 {
  z-index: 17;
}

#ContentRobotService_LabelRobotConf4 {
  width: 80px;
}

#ContentRobotService_LabelRobotConf4 {
  height: 30px;
}

#ContentRobotService_LabelRobotConf4 {
  top: 330px;
  position: absolute;
}

#ContentRobotService_LabelRobotConf4 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotConf4 {
  z-index: 18;
}

#ContentRobotService_LabelRobotConf6 {
  width: 80px;
}

#ContentRobotService_LabelRobotConf6 {
  height: 30px;
}

#ContentRobotService_LabelRobotConf6 {
  top: 370px;
  position: absolute;
}

#ContentRobotService_LabelRobotConf6 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotConf6 {
  z-index: 19;
}

#ContentRobotService_LabelRobotConfX {
  width: 80px;
}

#ContentRobotService_LabelRobotConfX {
  height: 30px;
}

#ContentRobotService_LabelRobotConfX {
  top: 410px;
  position: absolute;
}

#ContentRobotService_LabelRobotConfX {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotConfX {
  z-index: 20;
}

#ContentRobotService_GroupRobotJointtarget {
  top: 10px;
  position: absolute;
}

#ContentRobotService_GroupRobotJointtarget {
  left: 240px;
  position: absolute;
}

#ContentRobotService_GroupRobotJointtarget {
  width: 220px;
}

#ContentRobotService_GroupRobotJointtarget {
  height: 285px;
}

#ContentRobotService_GroupRobotJointtarget {
  z-index: 1;
}

#ContentRobotService_GroupRobotJointtarget {
  border-width: 1px;
}

#ContentRobotService_GroupRobotJointtarget > .header {
  border-width: 1px;
}

#ContentRobotService_GroupRobotJointtarget {
  border-color: white;
}

#ContentRobotService_GroupRobotJointtarget > .header {
  border-color: white;
}

#ContentRobotService_NumOutRobotAx1 {
  height: 30px;
}

#ContentRobotService_NumOutRobotAx1 {
  top: 10px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx1 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx1 {
  width: 110px;
}

#ContentRobotService_NumOutRobotAx1 {
  z-index: 0;
}

#ContentRobotService_NumOutRobotAx1 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotAx1 {
  width: 80px;
}

#ContentRobotService_LabelRobotAx1 {
  height: 30px;
}

#ContentRobotService_LabelRobotAx1 {
  top: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx1 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx1 {
  z-index: 1;
}

#ContentRobotService_NumOutRobotAx2 {
  height: 30px;
}

#ContentRobotService_NumOutRobotAx2 {
  top: 50px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx2 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx2 {
  width: 110px;
}

#ContentRobotService_NumOutRobotAx2 {
  z-index: 2;
}

#ContentRobotService_NumOutRobotAx2 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotAx2 {
  width: 80px;
}

#ContentRobotService_LabelRobotAx2 {
  height: 30px;
}

#ContentRobotService_LabelRobotAx2 {
  top: 50px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx2 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx2 {
  z-index: 3;
}

#ContentRobotService_NumOutRobotAx3 {
  height: 30px;
}

#ContentRobotService_NumOutRobotAx3 {
  top: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx3 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx3 {
  width: 110px;
}

#ContentRobotService_NumOutRobotAx3 {
  z-index: 4;
}

#ContentRobotService_NumOutRobotAx3 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotAx3 {
  width: 80px;
}

#ContentRobotService_LabelRobotAx3 {
  height: 30px;
}

#ContentRobotService_LabelRobotAx3 {
  top: 90px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx3 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx3 {
  z-index: 5;
}

#ContentRobotService_NumOutRobotAx4 {
  height: 30px;
}

#ContentRobotService_NumOutRobotAx4 {
  top: 130px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx4 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx4 {
  width: 110px;
}

#ContentRobotService_NumOutRobotAx4 {
  z-index: 6;
}

#ContentRobotService_NumOutRobotAx4 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotAx4 {
  width: 80px;
}

#ContentRobotService_LabelRobotAx4 {
  height: 30px;
}

#ContentRobotService_LabelRobotAx4 {
  top: 130px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx4 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx4 {
  z-index: 7;
}

#ContentRobotService_NumOutRobotAx5 {
  height: 30px;
}

#ContentRobotService_NumOutRobotAx5 {
  top: 170px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx5 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx5 {
  width: 110px;
}

#ContentRobotService_NumOutRobotAx5 {
  z-index: 8;
}

#ContentRobotService_NumOutRobotAx5 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotAx5 {
  width: 80px;
}

#ContentRobotService_LabelRobotAx5 {
  height: 30px;
}

#ContentRobotService_LabelRobotAx5 {
  top: 170px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx5 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx5 {
  z-index: 9;
}

#ContentRobotService_NumOutRobotAx6 {
  height: 30px;
}

#ContentRobotService_NumOutRobotAx6 {
  top: 210px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx6 {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotAx6 {
  width: 110px;
}

#ContentRobotService_NumOutRobotAx6 {
  z-index: 10;
}

#ContentRobotService_NumOutRobotAx6 {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotAx6 {
  width: 80px;
}

#ContentRobotService_LabelRobotAx6 {
  height: 30px;
}

#ContentRobotService_LabelRobotAx6 {
  top: 210px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx6 {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotAx6 {
  z-index: 11;
}

#ContentRobotService_GroupRobotJointtarget1 {
  top: 305px;
  position: absolute;
}

#ContentRobotService_GroupRobotJointtarget1 {
  left: 240px;
  position: absolute;
}

#ContentRobotService_GroupRobotJointtarget1 {
  width: 220px;
}

#ContentRobotService_GroupRobotJointtarget1 {
  height: 285px;
}

#ContentRobotService_GroupRobotJointtarget1 {
  z-index: 2;
}

#ContentRobotService_GroupRobotJointtarget1 {
  border-width: 1px;
}

#ContentRobotService_GroupRobotJointtarget1 > .header {
  border-width: 1px;
}

#ContentRobotService_GroupRobotJointtarget1 {
  border-color: white;
}

#ContentRobotService_GroupRobotJointtarget1 > .header {
  border-color: white;
}

#ContentRobotService_NumOutRobotEaxa {
  height: 30px;
}

#ContentRobotService_NumOutRobotEaxa {
  top: 10px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxa {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxa {
  width: 110px;
}

#ContentRobotService_NumOutRobotEaxa {
  z-index: 0;
}

#ContentRobotService_NumOutRobotEaxa {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotEaxa {
  width: 80px;
}

#ContentRobotService_LabelRobotEaxa {
  height: 30px;
}

#ContentRobotService_LabelRobotEaxa {
  top: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxa {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxa {
  z-index: 1;
}

#ContentRobotService_NumOutRobotEaxb {
  height: 30px;
}

#ContentRobotService_NumOutRobotEaxb {
  top: 50px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxb {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxb {
  width: 110px;
}

#ContentRobotService_NumOutRobotEaxb {
  z-index: 2;
}

#ContentRobotService_NumOutRobotEaxb {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotEaxb {
  width: 80px;
}

#ContentRobotService_LabelRobotEaxb {
  height: 30px;
}

#ContentRobotService_LabelRobotEaxb {
  top: 50px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxb {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxb {
  z-index: 3;
}

#ContentRobotService_NumOutRobotEaxc {
  height: 30px;
}

#ContentRobotService_NumOutRobotEaxc {
  top: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxc {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxc {
  width: 110px;
}

#ContentRobotService_NumOutRobotEaxc {
  z-index: 4;
}

#ContentRobotService_NumOutRobotEaxc {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotEaxc {
  width: 80px;
}

#ContentRobotService_LabelRobotEaxc {
  height: 30px;
}

#ContentRobotService_LabelRobotEaxc {
  top: 90px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxc {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxc {
  z-index: 5;
}

#ContentRobotService_NumOutRobotEaxd {
  height: 30px;
}

#ContentRobotService_NumOutRobotEaxd {
  top: 130px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxd {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxd {
  width: 110px;
}

#ContentRobotService_NumOutRobotEaxd {
  z-index: 6;
}

#ContentRobotService_NumOutRobotEaxd {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotEaxd {
  width: 80px;
}

#ContentRobotService_LabelRobotEaxd {
  height: 30px;
}

#ContentRobotService_LabelRobotEaxd {
  top: 130px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxd {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxd {
  z-index: 7;
}

#ContentRobotService_NumOutRobotEaxe {
  height: 30px;
}

#ContentRobotService_NumOutRobotEaxe {
  top: 170px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxe {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxe {
  width: 110px;
}

#ContentRobotService_NumOutRobotEaxe {
  z-index: 8;
}

#ContentRobotService_NumOutRobotEaxe {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotEaxe {
  width: 80px;
}

#ContentRobotService_LabelRobotEaxe {
  height: 30px;
}

#ContentRobotService_LabelRobotEaxe {
  top: 170px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxe {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxe {
  z-index: 9;
}

#ContentRobotService_NumOutRobotEaxf {
  height: 30px;
}

#ContentRobotService_NumOutRobotEaxf {
  top: 210px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxf {
  left: 90px;
  position: absolute;
}

#ContentRobotService_NumOutRobotEaxf {
  width: 110px;
}

#ContentRobotService_NumOutRobotEaxf {
  z-index: 10;
}

#ContentRobotService_NumOutRobotEaxf {
  padding: 0px 5px 0px 5px;
}

#ContentRobotService_LabelRobotEaxf {
  width: 80px;
}

#ContentRobotService_LabelRobotEaxf {
  height: 30px;
}

#ContentRobotService_LabelRobotEaxf {
  top: 210px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxf {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotEaxf {
  z-index: 11;
}

#ContentRobotService_GroupRobotSpeed {
  top: 510px;
  position: absolute;
}

#ContentRobotService_GroupRobotSpeed {
  left: 10px;
  position: absolute;
}

#ContentRobotService_GroupRobotSpeed {
  width: 220px;
}

#ContentRobotService_GroupRobotSpeed {
  height: 130px;
}

#ContentRobotService_GroupRobotSpeed {
  z-index: 3;
}

#ContentRobotService_GroupRobotSpeed {
  border-width: 1px;
}

#ContentRobotService_GroupRobotSpeed > .header {
  border-width: 1px;
}

#ContentRobotService_GroupRobotSpeed {
  border-color: white;
}

#ContentRobotService_GroupRobotSpeed > .header {
  border-color: white;
}

#ContentRobotService_NumOutRobotSpeedRef {
  height: 30px;
}

#ContentRobotService_NumOutRobotSpeedRef {
  top: 10px;
  position: absolute;
}

#ContentRobotService_NumOutRobotSpeedRef {
  left: 80px;
  position: absolute;
}

#ContentRobotService_NumOutRobotSpeedRef {
  width: 120px;
}

#ContentRobotService_NumOutRobotSpeedRef {
  z-index: 0;
}

#ContentRobotService_NumOutRobotSpeedRef {
  padding: 0px 5px 0px 15px;
}

#ContentRobotService_LabelRobotSpeedRef {
  height: 30px;
}

#ContentRobotService_LabelRobotSpeedRef {
  top: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedRef {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedRef {
  width: 90px;
}

#ContentRobotService_LabelRobotSpeedRef {
  z-index: 1;
}

#ContentRobotService_NumOutRobotSpeedCur {
  height: 30px;
}

#ContentRobotService_NumOutRobotSpeedCur {
  top: 50px;
  position: absolute;
}

#ContentRobotService_NumOutRobotSpeedCur {
  left: 80px;
  position: absolute;
}

#ContentRobotService_NumOutRobotSpeedCur {
  width: 120px;
}

#ContentRobotService_NumOutRobotSpeedCur {
  z-index: 2;
}

#ContentRobotService_NumOutRobotSpeedCur {
  padding: 0px 5px 0px 15px;
}

#ContentRobotService_LabelRobotSpeedCur {
  height: 30px;
}

#ContentRobotService_LabelRobotSpeedCur {
  top: 50px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedCur {
  left: 10px;
  position: absolute;
}

#ContentRobotService_LabelRobotSpeedCur {
  width: 90px;
}

#ContentRobotService_LabelRobotSpeedCur {
  z-index: 3;
}

#ContentRobotService_TextRobotWorkobject {
  height: 30px;
}

#ContentRobotService_TextRobotWorkobject {
  top: 605px;
  position: absolute;
}

#ContentRobotService_TextRobotWorkobject {
  left: 300px;
  position: absolute;
}

#ContentRobotService_TextRobotWorkobject {
  width: 160px;
}

#ContentRobotService_TextRobotWorkobject {
  z-index: 5;
}

#ContentRobotService_TextRobotWorkobject {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentRobotService_TextRobotWorkobject {
  font-size: 14px;
}

#ContentRobotService_LabelRobotWobj {
  top: 600px;
  position: absolute;
}

#ContentRobotService_LabelRobotWobj {
  left: 240px;
  position: absolute;
}

#ContentRobotService_LabelRobotWobj {
  width: 220px;
}

#ContentRobotService_LabelRobotWobj {
  height: 40px;
}

#ContentRobotService_LabelRobotWobj {
  z-index: 4;
}

#ContentRobotService_LabelRobotWobj {
  background-color: white;
}

#ContentRobotService_LabelRobotWobj span {
  padding: 5px 10px 5px 10px;
}

#ContentRobotService_TextRobotTool {
  height: 30px;
}

#ContentRobotService_TextRobotTool {
  top: 655px;
  position: absolute;
}

#ContentRobotService_TextRobotTool {
  left: 300px;
  position: absolute;
}

#ContentRobotService_TextRobotTool {
  width: 160px;
}

#ContentRobotService_TextRobotTool {
  z-index: 7;
}

#ContentRobotService_TextRobotTool {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentRobotService_TextRobotTool {
  font-size: 14px;
}

#ContentRobotService_LabelRobotTool {
  top: 650px;
  position: absolute;
}

#ContentRobotService_LabelRobotTool {
  left: 240px;
  position: absolute;
}

#ContentRobotService_LabelRobotTool {
  width: 220px;
}

#ContentRobotService_LabelRobotTool {
  height: 40px;
}

#ContentRobotService_LabelRobotTool {
  z-index: 6;
}

#ContentRobotService_LabelRobotTool {
  background-color: white;
}

#ContentRobotService_LabelRobotTool span {
  padding: 5px 10px 5px 10px;
}
