﻿@import "mixins.scss";
#ContentRobotService_GroupRobotCommand {
	@include elemTop(20);
}
#ContentRobotService_GroupRobotCommand {
	@include elemLeft(20);
}
#ContentRobotService_GroupRobotCommand {
	@include elemWidth(340);
}
#ContentRobotService_GroupRobotCommand {
	@include elemHeight(380);
}
#ContentRobotService_GroupRobotCommand {
		z-index: 0;
}
#ContentRobotService_GroupRobotCommand {
		border-width: 1px;
}
#ContentRobotService_GroupRobotCommand {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotService_GroupRobotCommand {
		border-color: rgba(100, 100, 100, 1);
}
#ContentRobotService_GroupRobotCommand {
	> .header{
		border-color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_BtnRobotMotorsOn {
	@include elemTop(101);
}
#ContentRobotService_BtnRobotMotorsOn {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotMotorsOn {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotMotorsOn {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotMotorsOn {
		z-index: 0;
}
#ContentRobotService_BtnRobotMotorsOff {
	@include elemTop(101);
}
#ContentRobotService_BtnRobotMotorsOff {
	@include elemLeft(180);
}
#ContentRobotService_BtnRobotMotorsOff {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotMotorsOff {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotMotorsOff {
		z-index: 1;
}
#ContentRobotService_BtnRobotStart {
	@include elemTop(182);
}
#ContentRobotService_BtnRobotStart {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotStart {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStart {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStart {
		z-index: 2;
}
#ContentRobotService_BtnRobotStartMain {
	@include elemTop(182);
}
#ContentRobotService_BtnRobotStartMain {
	@include elemLeft(180);
}
#ContentRobotService_BtnRobotStartMain {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStartMain {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStartMain {
		z-index: 3;
}
#ContentRobotService_BtnRobotStop {
	@include elemTop(262);
}
#ContentRobotService_BtnRobotStop {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotStop {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStop {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStop {
		z-index: 4;
}
#ContentRobotService_BtnRobotEnable {
	@include elemTop(23);
}
#ContentRobotService_BtnRobotEnable {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotEnable {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotEnable {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotEnable {
		z-index: 5;
}
#ContentRobotService_BtnControllerErrorReset {
	@include elemTop(23);
}
#ContentRobotService_BtnControllerErrorReset {
	@include elemLeft(180);
}
#ContentRobotService_BtnControllerErrorReset {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnControllerErrorReset {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnControllerErrorReset {
		z-index: 6;
}
#ContentRobotService_GroupRobotStatus {
	@include elemTop(20);
}
#ContentRobotService_GroupRobotStatus {
	@include elemLeft(380);
}
#ContentRobotService_GroupRobotStatus {
	@include elemWidth(338);
}
#ContentRobotService_GroupRobotStatus {
	@include elemHeight(780);
}
#ContentRobotService_GroupRobotStatus {
		z-index: 1;
}
#ContentRobotService_GroupRobotStatus {
		border-width: 1px;
}
#ContentRobotService_GroupRobotStatus {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotService_GroupRobotStatus {
		border-color: rgba(100, 100, 100, 1);
}
#ContentRobotService_GroupRobotStatus {
	> .header{
		border-color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_LabelRobotCommunication {
	@include elemTop(20);
}
#ContentRobotService_LabelRobotCommunication {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotCommunication {
	@include elemAutoWidth(300);
}
#ContentRobotService_LabelRobotCommunication {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotCommunication {
		z-index: 0;
}
#ContentRobotService_LabelRobotCommunication {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotCommunication {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_LabelRobotMotors {
	@include elemTop(85);
}
#ContentRobotService_LabelRobotMotors {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotMotors {
	@include elemAutoWidth(300);
}
#ContentRobotService_LabelRobotMotors {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotMotors {
		z-index: 1;
}
#ContentRobotService_LabelRobotMotors {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotMotors {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_LabelRobotMotionTask {
	@include elemTop(145);
}
#ContentRobotService_LabelRobotMotionTask {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotMotionTask {
	@include elemAutoWidth(300);
}
#ContentRobotService_LabelRobotMotionTask {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotMotionTask {
		z-index: 2;
}
#ContentRobotService_LabelRobotMotionTask {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotMotionTask {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_LabelControllerErrorCode {
	@include elemTop(265);
}
#ContentRobotService_LabelControllerErrorCode {
	@include elemLeft(20);
}
#ContentRobotService_LabelControllerErrorCode {
	@include elemAutoWidth(300);
}
#ContentRobotService_LabelControllerErrorCode {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelControllerErrorCode {
		z-index: 3;
}
#ContentRobotService_LabelControllerErrorCode {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelControllerErrorCode {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_NumOutControllerErrorCode {
	@include elemTop(265);
}
#ContentRobotService_NumOutControllerErrorCode {
	@include elemLeft(165);
}
#ContentRobotService_NumOutControllerErrorCode {
	@include elemAutoWidth(150);
}
#ContentRobotService_NumOutControllerErrorCode {
	@include elemAutoHeight(40);
}
#ContentRobotService_NumOutControllerErrorCode {
		z-index: 4;
}
#ContentRobotService_NumOutControllerErrorCode {
	input{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutControllerErrorCode {
	span.breaseNumericOutput_unit{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutControllerErrorCode {
	input{
	@include text-alignment(left);
	}
}
#ContentRobotService_NumOutControllerErrorCode {
	input{
		font-size: 20px;
	}
}
#ContentRobotService_NumOutControllerErrorCode {
		padding: 5px;
}
#ContentRobotService_TextRobotCommunication {
	@include elemTop(20);
}
#ContentRobotService_TextRobotCommunication {
	@include elemLeft(165);
}
#ContentRobotService_TextRobotCommunication {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotCommunication {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotCommunication {
		z-index: 5;
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotCommunication {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotCommunication {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotCommunication {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotCommunication_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotMotors {
	@include elemTop(85);
}
#ContentRobotService_TextRobotMotors {
	@include elemLeft(165);
}
#ContentRobotService_TextRobotMotors {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotMotors {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotMotors {
		z-index: 6;
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMotors {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMotors {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotMotors {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotMotors_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotMotionTask {
	@include elemTop(145);
}
#ContentRobotService_TextRobotMotionTask {
	@include elemLeft(165);
}
#ContentRobotService_TextRobotMotionTask {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotMotionTask {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotMotionTask {
		z-index: 7;
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotMotionTask {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotMotionTask_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_LabelRobotMode {
	@include elemTop(205);
}
#ContentRobotService_LabelRobotMode {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotMode {
	@include elemAutoWidth(300);
}
#ContentRobotService_LabelRobotMode {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotMode {
		z-index: 8;
}
#ContentRobotService_LabelRobotMode {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotMode {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_TextRobotMode {
	@include elemTop(205);
}
#ContentRobotService_TextRobotMode {
	@include elemLeft(165);
}
#ContentRobotService_TextRobotMode {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotMode {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotMode {
		z-index: 9;
}
#ContentRobotService_TextRobotMode {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotMode {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotMode {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotMode {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotMode {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMode {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMode {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 0px;
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotMode {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotMode {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotMode_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_CheckBox1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox1 {
	@include elemTop(380);
}
#ContentRobotService_CheckBox1 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox1 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox1 {
		z-index: 10;
}
#ContentRobotService_CheckBox1 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox1 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox2 {
	@include elemTop(420);
}
#ContentRobotService_CheckBox2 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox2 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox2 {
		z-index: 11;
}
#ContentRobotService_CheckBox2 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox2 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox3 {
	@include elemTop(500);
}
#ContentRobotService_CheckBox3 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox3 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox3 {
		z-index: 12;
}
#ContentRobotService_CheckBox3 {
	&:not(.disabled) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.disabled span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.disabled.checked span{
		border-color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.disabled.active span{
		border-color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.disabled.checked:not(.active) span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.checked:not(.disabled) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.disabled:not(.checked) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox3 {
	&.checked.disabled svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox4 {
	@include elemTop(460);
}
#ContentRobotService_CheckBox4 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox4 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox4 {
		z-index: 13;
}
#ContentRobotService_CheckBox4 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox4 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_TabRobot {
	@include elemTop(20);
}
#ContentRobotService_TabRobot {
	@include elemLeft(740);
}
#ContentRobotService_TabRobot {
	@include elemWidth(400);
}
#ContentRobotService_TabRobot {
	@include elemHeight(780);
}
#ContentRobotService_TabRobot {
		z-index: 2;
}
#ContentRobotService_TabRobot {
	> .tabItemContainer{
		background-color: rgba(214, 214, 214, 1);
	}
}
#ContentRobotService_TabRobot {
	> .tabItemContainer{
		border-style: solid;
	}
}
#ContentRobotService_TabRobot {
	> .tabItemContainer{
		border-width: 1px 0px 1px 1px;
	}
}
#ContentRobotService_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#ContentRobotService_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#ContentRobotService_TabItem1 {
		z-index: 0;
}
#ContentRobotService_GroupRobotControl {
	@include elemTop(0);
}
#ContentRobotService_GroupRobotControl {
	@include elemLeft(0);
}
#ContentRobotService_GroupRobotControl {
	@include elemWidth(320);
}
#ContentRobotService_GroupRobotControl {
	@include elemHeight(540);
}
#ContentRobotService_GroupRobotControl {
		z-index: 0;
}
#ContentRobotService_BtnRobotTransferModule {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotTransferModule {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotTransferModule {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotTransferModule {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotTransferModule {
		z-index: 0;
}
#ContentRobotService_BtnRobotStartProc {
	@include elemTop(245);
}
#ContentRobotService_BtnRobotStartProc {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotStartProc {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStartProc {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStartProc {
		z-index: 1;
}
#ContentRobotService_BtnRobotLoadModule {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotLoadModule {
	@include elemLeft(170);
}
#ContentRobotService_BtnRobotLoadModule {
	@include elemAutoWidth(120);
}
#ContentRobotService_BtnRobotLoadModule {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotLoadModule {
		z-index: 3;
}
#ContentRobotService_TextInputRobotModuleName {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotModuleName {
	@include elemTop(45);
}
#ContentRobotService_TextInputRobotModuleName {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotModuleName {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotModuleName {
		z-index: 4;
}
#ContentRobotService_TextInputRobotProcName {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotProcName {
	@include elemTop(205);
}
#ContentRobotService_TextInputRobotProcName {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotProcName {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotProcName {
		z-index: 5;
}
#ContentRobotService_LabelRobotProcName {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProcName {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProcName {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProcName {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProcName {
		z-index: 6;
}
#ContentRobotService_LabelRobotModuleName {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotModuleName {
	@include elemTop(15);
}
#ContentRobotService_LabelRobotModuleName {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotModuleName {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotModuleName {
		z-index: 7;
}
#ContentRobotService_NumInpRobotSpeed {
	@include elemHeight(30);
}
#ContentRobotService_NumInpRobotSpeed {
	@include elemTop(460);
}
#ContentRobotService_NumInpRobotSpeed {
	@include elemLeft(180);
}
#ContentRobotService_NumInpRobotSpeed {
	@include elemWidth(110);
}
#ContentRobotService_NumInpRobotSpeed {
		z-index: 8;
}
#ContentRobotService_LabelRobotSpeedOverride {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotSpeedOverride {
	@include elemTop(460);
}
#ContentRobotService_LabelRobotSpeedOverride {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotSpeedOverride {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotSpeedOverride {
		z-index: 9;
}
#ContentRobotService_LabelRobotProc {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProc {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProc {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProc {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProc {
		z-index: 10;
}
#ContentRobotService_LabelRobotProc {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotProc {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_TextRobotProcedure {
	@include elemTop(322);
}
#ContentRobotService_TextRobotProcedure {
	@include elemLeft(138);
}
#ContentRobotService_TextRobotProcedure {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotProcedure {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotProcedure {
		z-index: 11;
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotProcedure_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_BtnRobotAutoExec {
	@include elemTop(380);
}
#ContentRobotService_BtnRobotAutoExec {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotAutoExec {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotAutoExec {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotAutoExec {
		z-index: 2;
}
#ContentRobotService_BtnLimSpeed {
	@include elemTop(380);
}
#ContentRobotService_BtnLimSpeed {
	@include elemLeft(180);
}
#ContentRobotService_BtnLimSpeed {
	@include elemAutoWidth(108);
}
#ContentRobotService_BtnLimSpeed {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnLimSpeed {
		z-index: 12;
}
#ContentRobotService_LabelRobotErrorCode1 {
	@include elemTop(550);
}
#ContentRobotService_LabelRobotErrorCode1 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotErrorCode1 {
	@include elemAutoWidth(280);
}
#ContentRobotService_LabelRobotErrorCode1 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotErrorCode1 {
		z-index: 1;
}
#ContentRobotService_LabelRobotErrorCode1 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotErrorCode1 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_NumOutRobotErrorCode1 {
	@include elemTop(550);
}
#ContentRobotService_NumOutRobotErrorCode1 {
	@include elemLeft(150);
}
#ContentRobotService_NumOutRobotErrorCode1 {
	@include elemAutoWidth(150);
}
#ContentRobotService_NumOutRobotErrorCode1 {
	@include elemAutoHeight(40);
}
#ContentRobotService_NumOutRobotErrorCode1 {
		z-index: 2;
}
#ContentRobotService_NumOutRobotErrorCode1 {
	input{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode1 {
	span.breaseNumericOutput_unit{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode1 {
	input{
	@include text-alignment(left);
	}
}
#ContentRobotService_NumOutRobotErrorCode1 {
	input{
		font-size: 20px;
	}
}
#ContentRobotService_NumOutRobotErrorCode1 {
		padding: 5px;
}
#ContentRobotService_BtnRobotErrorReset {
	@include elemTop(600);
}
#ContentRobotService_BtnRobotErrorReset {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotErrorReset {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotErrorReset {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotErrorReset {
		z-index: 3;
}
#ContentRobotService_CheckBox5 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox5 {
	@include elemTop(698);
}
#ContentRobotService_CheckBox5 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox5 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox5 {
		z-index: 4;
}
#ContentRobotService_CheckBox5 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox5 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#ContentRobotService_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#ContentRobotService_TabItem2 {
		z-index: 1;
}
#ContentRobotService_GroupRobotControl1 {
	@include elemTop(0);
}
#ContentRobotService_GroupRobotControl1 {
	@include elemLeft(0);
}
#ContentRobotService_GroupRobotControl1 {
	@include elemWidth(320);
}
#ContentRobotService_GroupRobotControl1 {
	@include elemHeight(540);
}
#ContentRobotService_GroupRobotControl1 {
		z-index: 0;
}
#ContentRobotService_BtnRobotTransferModule1 {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotTransferModule1 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotTransferModule1 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotTransferModule1 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotTransferModule1 {
		z-index: 0;
}
#ContentRobotService_BtnRobotStartProc1 {
	@include elemTop(245);
}
#ContentRobotService_BtnRobotStartProc1 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotStartProc1 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStartProc1 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStartProc1 {
		z-index: 1;
}
#ContentRobotService_BtnRobotLoadModule1 {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotLoadModule1 {
	@include elemLeft(170);
}
#ContentRobotService_BtnRobotLoadModule1 {
	@include elemAutoWidth(120);
}
#ContentRobotService_BtnRobotLoadModule1 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotLoadModule1 {
		z-index: 2;
}
#ContentRobotService_TextInputRobotModuleName1 {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotModuleName1 {
	@include elemTop(45);
}
#ContentRobotService_TextInputRobotModuleName1 {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotModuleName1 {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotModuleName1 {
		z-index: 3;
}
#ContentRobotService_TextInputRobotProcName1 {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotProcName1 {
	@include elemTop(205);
}
#ContentRobotService_TextInputRobotProcName1 {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotProcName1 {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotProcName1 {
		z-index: 4;
}
#ContentRobotService_LabelRobotProcName1 {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProcName1 {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProcName1 {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProcName1 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProcName1 {
		z-index: 5;
}
#ContentRobotService_LabelRobotModuleName1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotModuleName1 {
	@include elemTop(15);
}
#ContentRobotService_LabelRobotModuleName1 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotModuleName1 {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotModuleName1 {
		z-index: 6;
}
#ContentRobotService_NumInpRobotSpeed1 {
	@include elemHeight(30);
}
#ContentRobotService_NumInpRobotSpeed1 {
	@include elemTop(460);
}
#ContentRobotService_NumInpRobotSpeed1 {
	@include elemLeft(180);
}
#ContentRobotService_NumInpRobotSpeed1 {
	@include elemWidth(110);
}
#ContentRobotService_NumInpRobotSpeed1 {
		z-index: 7;
}
#ContentRobotService_LabelRobotSpeedOverride1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotSpeedOverride1 {
	@include elemTop(460);
}
#ContentRobotService_LabelRobotSpeedOverride1 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotSpeedOverride1 {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotSpeedOverride1 {
		z-index: 8;
}
#ContentRobotService_LabelRobotProc1 {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProc1 {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProc1 {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProc1 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProc1 {
		z-index: 9;
}
#ContentRobotService_LabelRobotProc1 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotProc1 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_TextRobotProcedure1 {
	@include elemTop(322);
}
#ContentRobotService_TextRobotProcedure1 {
	@include elemLeft(138);
}
#ContentRobotService_TextRobotProcedure1 {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotProcedure1 {
		z-index: 10;
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure1 {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotProcedure1_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_BtnRobotAutoExec1 {
	@include elemTop(380);
}
#ContentRobotService_BtnRobotAutoExec1 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotAutoExec1 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotAutoExec1 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotAutoExec1 {
		z-index: 11;
}
#ContentRobotService_BtnLimSpeed1 {
	@include elemTop(380);
}
#ContentRobotService_BtnLimSpeed1 {
	@include elemLeft(180);
}
#ContentRobotService_BtnLimSpeed1 {
	@include elemAutoWidth(108);
}
#ContentRobotService_BtnLimSpeed1 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnLimSpeed1 {
		z-index: 12;
}
#ContentRobotService_LabelRobotErrorCode2 {
	@include elemTop(550);
}
#ContentRobotService_LabelRobotErrorCode2 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotErrorCode2 {
	@include elemAutoWidth(280);
}
#ContentRobotService_LabelRobotErrorCode2 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotErrorCode2 {
		z-index: 1;
}
#ContentRobotService_LabelRobotErrorCode2 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotErrorCode2 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_NumOutRobotErrorCode2 {
	@include elemTop(550);
}
#ContentRobotService_NumOutRobotErrorCode2 {
	@include elemLeft(150);
}
#ContentRobotService_NumOutRobotErrorCode2 {
	@include elemAutoWidth(150);
}
#ContentRobotService_NumOutRobotErrorCode2 {
	@include elemAutoHeight(40);
}
#ContentRobotService_NumOutRobotErrorCode2 {
		z-index: 2;
}
#ContentRobotService_NumOutRobotErrorCode2 {
	input{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode2 {
	span.breaseNumericOutput_unit{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode2 {
	input{
	@include text-alignment(left);
	}
}
#ContentRobotService_NumOutRobotErrorCode2 {
	input{
		font-size: 20px;
	}
}
#ContentRobotService_NumOutRobotErrorCode2 {
		padding: 5px;
}
#ContentRobotService_BtnRobotErrorReset1 {
	@include elemTop(600);
}
#ContentRobotService_BtnRobotErrorReset1 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotErrorReset1 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotErrorReset1 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotErrorReset1 {
		z-index: 3;
}
#ContentRobotService_CheckBox6 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox6 {
	@include elemTop(698);
}
#ContentRobotService_CheckBox6 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox6 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox6 {
		z-index: 4;
}
#ContentRobotService_CheckBox6 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox6 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_TabItem3_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#ContentRobotService_TabItem3_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#ContentRobotService_TabItem3 {
		z-index: 2;
}
#ContentRobotService_GroupRobotControl2 {
	@include elemTop(0);
}
#ContentRobotService_GroupRobotControl2 {
	@include elemLeft(0);
}
#ContentRobotService_GroupRobotControl2 {
	@include elemWidth(320);
}
#ContentRobotService_GroupRobotControl2 {
	@include elemHeight(540);
}
#ContentRobotService_GroupRobotControl2 {
		z-index: 0;
}
#ContentRobotService_BtnRobotTransferModule2 {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotTransferModule2 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotTransferModule2 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotTransferModule2 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotTransferModule2 {
		z-index: 0;
}
#ContentRobotService_BtnRobotStartProc2 {
	@include elemTop(245);
}
#ContentRobotService_BtnRobotStartProc2 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotStartProc2 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStartProc2 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStartProc2 {
		z-index: 1;
}
#ContentRobotService_BtnRobotLoadModule2 {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotLoadModule2 {
	@include elemLeft(170);
}
#ContentRobotService_BtnRobotLoadModule2 {
	@include elemAutoWidth(120);
}
#ContentRobotService_BtnRobotLoadModule2 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotLoadModule2 {
		z-index: 2;
}
#ContentRobotService_TextInputRobotModuleName2 {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotModuleName2 {
	@include elemTop(45);
}
#ContentRobotService_TextInputRobotModuleName2 {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotModuleName2 {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotModuleName2 {
		z-index: 3;
}
#ContentRobotService_TextInputRobotProcName2 {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotProcName2 {
	@include elemTop(205);
}
#ContentRobotService_TextInputRobotProcName2 {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotProcName2 {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotProcName2 {
		z-index: 4;
}
#ContentRobotService_LabelRobotProcName2 {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProcName2 {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProcName2 {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProcName2 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProcName2 {
		z-index: 5;
}
#ContentRobotService_LabelRobotModuleName2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotModuleName2 {
	@include elemTop(15);
}
#ContentRobotService_LabelRobotModuleName2 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotModuleName2 {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotModuleName2 {
		z-index: 6;
}
#ContentRobotService_NumInpRobotSpeed2 {
	@include elemHeight(30);
}
#ContentRobotService_NumInpRobotSpeed2 {
	@include elemTop(460);
}
#ContentRobotService_NumInpRobotSpeed2 {
	@include elemLeft(180);
}
#ContentRobotService_NumInpRobotSpeed2 {
	@include elemWidth(110);
}
#ContentRobotService_NumInpRobotSpeed2 {
		z-index: 7;
}
#ContentRobotService_LabelRobotSpeedOverride2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotSpeedOverride2 {
	@include elemTop(460);
}
#ContentRobotService_LabelRobotSpeedOverride2 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotSpeedOverride2 {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotSpeedOverride2 {
		z-index: 8;
}
#ContentRobotService_LabelRobotProc2 {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProc2 {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProc2 {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProc2 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProc2 {
		z-index: 9;
}
#ContentRobotService_LabelRobotProc2 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotProc2 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_TextRobotProcedure2 {
	@include elemTop(322);
}
#ContentRobotService_TextRobotProcedure2 {
	@include elemLeft(138);
}
#ContentRobotService_TextRobotProcedure2 {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotProcedure2 {
		z-index: 10;
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure2 {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotProcedure2_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_BtnRobotAutoExec2 {
	@include elemTop(380);
}
#ContentRobotService_BtnRobotAutoExec2 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotAutoExec2 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotAutoExec2 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotAutoExec2 {
		z-index: 11;
}
#ContentRobotService_BtnLimSpeed2 {
	@include elemTop(380);
}
#ContentRobotService_BtnLimSpeed2 {
	@include elemLeft(180);
}
#ContentRobotService_BtnLimSpeed2 {
	@include elemAutoWidth(108);
}
#ContentRobotService_BtnLimSpeed2 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnLimSpeed2 {
		z-index: 12;
}
#ContentRobotService_LabelRobotErrorCode3 {
	@include elemTop(550);
}
#ContentRobotService_LabelRobotErrorCode3 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotErrorCode3 {
	@include elemAutoWidth(280);
}
#ContentRobotService_LabelRobotErrorCode3 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotErrorCode3 {
		z-index: 1;
}
#ContentRobotService_LabelRobotErrorCode3 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotErrorCode3 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_NumOutRobotErrorCode3 {
	@include elemTop(550);
}
#ContentRobotService_NumOutRobotErrorCode3 {
	@include elemLeft(150);
}
#ContentRobotService_NumOutRobotErrorCode3 {
	@include elemAutoWidth(150);
}
#ContentRobotService_NumOutRobotErrorCode3 {
	@include elemAutoHeight(40);
}
#ContentRobotService_NumOutRobotErrorCode3 {
		z-index: 2;
}
#ContentRobotService_NumOutRobotErrorCode3 {
	input{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode3 {
	span.breaseNumericOutput_unit{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode3 {
	input{
	@include text-alignment(left);
	}
}
#ContentRobotService_NumOutRobotErrorCode3 {
	input{
		font-size: 20px;
	}
}
#ContentRobotService_NumOutRobotErrorCode3 {
		padding: 5px;
}
#ContentRobotService_BtnRobotErrorReset2 {
	@include elemTop(600);
}
#ContentRobotService_BtnRobotErrorReset2 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotErrorReset2 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotErrorReset2 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotErrorReset2 {
		z-index: 3;
}
#ContentRobotService_CheckBox7 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox7 {
	@include elemTop(698);
}
#ContentRobotService_CheckBox7 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox7 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox7 {
		z-index: 4;
}
#ContentRobotService_CheckBox7 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox7 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_TabItem4_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#ContentRobotService_TabItem4_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#ContentRobotService_TabItem4 {
		z-index: 3;
}
#ContentRobotService_GroupRobotControl3 {
	@include elemTop(0);
}
#ContentRobotService_GroupRobotControl3 {
	@include elemLeft(0);
}
#ContentRobotService_GroupRobotControl3 {
	@include elemWidth(320);
}
#ContentRobotService_GroupRobotControl3 {
	@include elemHeight(540);
}
#ContentRobotService_GroupRobotControl3 {
		z-index: 0;
}
#ContentRobotService_BtnRobotTransferModule3 {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotTransferModule3 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotTransferModule3 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotTransferModule3 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotTransferModule3 {
		z-index: 0;
}
#ContentRobotService_BtnRobotStartProc3 {
	@include elemTop(245);
}
#ContentRobotService_BtnRobotStartProc3 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotStartProc3 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotStartProc3 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotStartProc3 {
		z-index: 1;
}
#ContentRobotService_BtnRobotLoadModule3 {
	@include elemTop(85);
}
#ContentRobotService_BtnRobotLoadModule3 {
	@include elemLeft(170);
}
#ContentRobotService_BtnRobotLoadModule3 {
	@include elemAutoWidth(120);
}
#ContentRobotService_BtnRobotLoadModule3 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotLoadModule3 {
		z-index: 2;
}
#ContentRobotService_TextInputRobotModuleName3 {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotModuleName3 {
	@include elemTop(45);
}
#ContentRobotService_TextInputRobotModuleName3 {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotModuleName3 {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotModuleName3 {
		z-index: 3;
}
#ContentRobotService_TextInputRobotProcName3 {
	@include elemHeight(30);
}
#ContentRobotService_TextInputRobotProcName3 {
	@include elemTop(205);
}
#ContentRobotService_TextInputRobotProcName3 {
	@include elemLeft(20);
}
#ContentRobotService_TextInputRobotProcName3 {
	@include elemWidth(270);
}
#ContentRobotService_TextInputRobotProcName3 {
		z-index: 4;
}
#ContentRobotService_LabelRobotProcName3 {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProcName3 {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProcName3 {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProcName3 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProcName3 {
		z-index: 5;
}
#ContentRobotService_LabelRobotModuleName3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotModuleName3 {
	@include elemTop(15);
}
#ContentRobotService_LabelRobotModuleName3 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotModuleName3 {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotModuleName3 {
		z-index: 6;
}
#ContentRobotService_NumInpRobotSpeed3 {
	@include elemHeight(30);
}
#ContentRobotService_NumInpRobotSpeed3 {
	@include elemTop(460);
}
#ContentRobotService_NumInpRobotSpeed3 {
	@include elemLeft(180);
}
#ContentRobotService_NumInpRobotSpeed3 {
	@include elemWidth(110);
}
#ContentRobotService_NumInpRobotSpeed3 {
		z-index: 7;
}
#ContentRobotService_LabelRobotSpeedOverride3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotSpeedOverride3 {
	@include elemTop(460);
}
#ContentRobotService_LabelRobotSpeedOverride3 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotSpeedOverride3 {
	@include elemAutoWidth(160);
}
#ContentRobotService_LabelRobotSpeedOverride3 {
		z-index: 8;
}
#ContentRobotService_LabelRobotProc3 {
	@include elemTop(322);
}
#ContentRobotService_LabelRobotProc3 {
	@include elemLeft(18);
}
#ContentRobotService_LabelRobotProc3 {
	@include elemAutoWidth(270);
}
#ContentRobotService_LabelRobotProc3 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotProc3 {
		z-index: 9;
}
#ContentRobotService_LabelRobotProc3 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotProc3 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_TextRobotProcedure3 {
	@include elemTop(322);
}
#ContentRobotService_TextRobotProcedure3 {
	@include elemLeft(138);
}
#ContentRobotService_TextRobotProcedure3 {
	&.DropDownBoxView{
	@include elemWidth(150);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#ContentRobotService_TextRobotProcedure3 {
		z-index: 10;
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView.itemDisabled{
		background-color: rgba(209, 209, 209, 0);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled){
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& > .ListView.Container{
		border-color: rgba(255, 136, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView.itemDisabled{
		border-color: rgba(255, 255, 255, 0);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected){
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& > .ItemView{
		padding: 0px;
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		padding: 0px 10px;
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected{
		background-color: rgba(255, 133, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView{
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& .TextView{
	@include text-alignment(left);
	}
}
#ContentRobotService_TextRobotProcedure3 {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_TextRobotProcedure3_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#ContentRobotService_BtnRobotAutoExec3 {
	@include elemTop(380);
}
#ContentRobotService_BtnRobotAutoExec3 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotAutoExec3 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotAutoExec3 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotAutoExec3 {
		z-index: 11;
}
#ContentRobotService_BtnLimSpeed3 {
	@include elemTop(380);
}
#ContentRobotService_BtnLimSpeed3 {
	@include elemLeft(180);
}
#ContentRobotService_BtnLimSpeed3 {
	@include elemAutoWidth(108);
}
#ContentRobotService_BtnLimSpeed3 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnLimSpeed3 {
		z-index: 12;
}
#ContentRobotService_LabelRobotErrorCode4 {
	@include elemTop(550);
}
#ContentRobotService_LabelRobotErrorCode4 {
	@include elemLeft(20);
}
#ContentRobotService_LabelRobotErrorCode4 {
	@include elemAutoWidth(280);
}
#ContentRobotService_LabelRobotErrorCode4 {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotErrorCode4 {
		z-index: 1;
}
#ContentRobotService_LabelRobotErrorCode4 {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotErrorCode4 {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_NumOutRobotErrorCode4 {
	@include elemTop(550);
}
#ContentRobotService_NumOutRobotErrorCode4 {
	@include elemLeft(150);
}
#ContentRobotService_NumOutRobotErrorCode4 {
	@include elemAutoWidth(150);
}
#ContentRobotService_NumOutRobotErrorCode4 {
	@include elemAutoHeight(40);
}
#ContentRobotService_NumOutRobotErrorCode4 {
		z-index: 2;
}
#ContentRobotService_NumOutRobotErrorCode4 {
	input{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode4 {
	span.breaseNumericOutput_unit{
		color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_NumOutRobotErrorCode4 {
	input{
	@include text-alignment(left);
	}
}
#ContentRobotService_NumOutRobotErrorCode4 {
	input{
		font-size: 20px;
	}
}
#ContentRobotService_NumOutRobotErrorCode4 {
		padding: 5px;
}
#ContentRobotService_BtnRobotErrorReset3 {
	@include elemTop(600);
}
#ContentRobotService_BtnRobotErrorReset3 {
	@include elemLeft(20);
}
#ContentRobotService_BtnRobotErrorReset3 {
	@include elemAutoWidth(140);
}
#ContentRobotService_BtnRobotErrorReset3 {
	@include elemAutoHeight(60);
}
#ContentRobotService_BtnRobotErrorReset3 {
		z-index: 3;
}
#ContentRobotService_CheckBox8 {
	@include elemAutoHeight(30);
}
#ContentRobotService_CheckBox8 {
	@include elemTop(698);
}
#ContentRobotService_CheckBox8 {
	@include elemLeft(20);
}
#ContentRobotService_CheckBox8 {
	@include elemAutoWidth(170);
}
#ContentRobotService_CheckBox8 {
		z-index: 4;
}
#ContentRobotService_CheckBox8 {
	&.disabled span{
		color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.disabled.checked span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.disabled.active span{
		border-color: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&:not(.disabled):not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.checked:not(.disabled) svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.disabled:not(.checked) svg{
		fill: rgba(71, 71, 71, 1);
	}
}
#ContentRobotService_CheckBox8 {
	&.checked.disabled svg{
		fill: rgba(255, 136, 0, 1);
	}
}
#ContentRobotService_GroupRobotPosition {
	@include elemTop(50);
}
#ContentRobotService_GroupRobotPosition {
	@include elemLeft(1070);
}
#ContentRobotService_GroupRobotPosition {
	@include elemWidth(470);
}
#ContentRobotService_GroupRobotPosition {
	@include elemHeight(750);
}
#ContentRobotService_GroupRobotPosition {
		z-index: 3;
}
#ContentRobotService_GroupRobotPosition {
		border-width: 1px 1px 1px 0px;
}
#ContentRobotService_GroupRobotPosition {
	> .header{
		border-width: 1px 1px 1px 0px;
	}
}
#ContentRobotService_GroupRobotPosition {
		border-color: rgba(100, 100, 100, 1);
}
#ContentRobotService_GroupRobotPosition {
	> .header{
		border-color: rgba(100, 100, 100, 1);
	}
}
#ContentRobotService_GroupRobotRobtarget {
	@include elemTop(10);
}
#ContentRobotService_GroupRobotRobtarget {
	@include elemLeft(10);
}
#ContentRobotService_GroupRobotRobtarget {
	@include elemWidth(220);
}
#ContentRobotService_GroupRobotRobtarget {
	@include elemHeight(490);
}
#ContentRobotService_GroupRobotRobtarget {
		z-index: 0;
}
#ContentRobotService_GroupRobotRobtarget {
		border-width: 1px;
}
#ContentRobotService_GroupRobotRobtarget {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotService_GroupRobotRobtarget {
		border-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_GroupRobotRobtarget {
	> .header{
		border-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotService_NumOutRobotTransX {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotTransX {
	@include elemTop(10);
}
#ContentRobotService_NumOutRobotTransX {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotTransX {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotTransX {
		z-index: 0;
}
#ContentRobotService_NumOutRobotTransX {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotTransY {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotTransY {
	@include elemTop(50);
}
#ContentRobotService_NumOutRobotTransY {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotTransY {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotTransY {
		z-index: 1;
}
#ContentRobotService_NumOutRobotTransY {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotTransZ {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotTransZ {
	@include elemTop(90);
}
#ContentRobotService_NumOutRobotTransZ {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotTransZ {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotTransZ {
		z-index: 2;
}
#ContentRobotService_NumOutRobotTransZ {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotRotQ1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotRotQ1 {
	@include elemTop(130);
}
#ContentRobotService_NumOutRobotRotQ1 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotRotQ1 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotRotQ1 {
		z-index: 3;
}
#ContentRobotService_NumOutRobotRotQ1 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotRotQ3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotRotQ3 {
	@include elemTop(170);
}
#ContentRobotService_NumOutRobotRotQ3 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotRotQ3 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotRotQ3 {
		z-index: 4;
}
#ContentRobotService_NumOutRobotRotQ3 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotRotQ2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotRotQ2 {
	@include elemTop(210);
}
#ContentRobotService_NumOutRobotRotQ2 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotRotQ2 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotRotQ2 {
		z-index: 5;
}
#ContentRobotService_NumOutRobotRotQ2 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotRotQ4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotRotQ4 {
	@include elemTop(250);
}
#ContentRobotService_NumOutRobotRotQ4 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotRotQ4 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotRotQ4 {
		z-index: 6;
}
#ContentRobotService_NumOutRobotRotQ4 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotConf1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotConf1 {
	@include elemTop(290);
}
#ContentRobotService_NumOutRobotConf1 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotConf1 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotConf1 {
		z-index: 7;
}
#ContentRobotService_NumOutRobotConf1 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotConf4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotConf4 {
	@include elemTop(330);
}
#ContentRobotService_NumOutRobotConf4 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotConf4 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotConf4 {
		z-index: 8;
}
#ContentRobotService_NumOutRobotConf4 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotConf6 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotConf6 {
	@include elemTop(370);
}
#ContentRobotService_NumOutRobotConf6 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotConf6 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotConf6 {
		z-index: 9;
}
#ContentRobotService_NumOutRobotConf6 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_NumOutRobotConfX {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotConfX {
	@include elemTop(410);
}
#ContentRobotService_NumOutRobotConfX {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotConfX {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotConfX {
		z-index: 10;
}
#ContentRobotService_NumOutRobotConfX {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotTransX {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotTransX {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotTransX {
	@include elemTop(10);
}
#ContentRobotService_LabelRobotTransX {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotTransX {
		z-index: 11;
}
#ContentRobotService_LabelRobotTransY {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotTransY {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotTransY {
	@include elemTop(50);
}
#ContentRobotService_LabelRobotTransY {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotTransY {
		z-index: 12;
}
#ContentRobotService_LabelRobotTransZ {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotTransZ {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotTransZ {
	@include elemTop(90);
}
#ContentRobotService_LabelRobotTransZ {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotTransZ {
		z-index: 13;
}
#ContentRobotService_LabelRobotRotQ1 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotRotQ1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotRotQ1 {
	@include elemTop(130);
}
#ContentRobotService_LabelRobotRotQ1 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotRotQ1 {
		z-index: 14;
}
#ContentRobotService_LabelRobotRotQ2 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotRotQ2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotRotQ2 {
	@include elemTop(170);
}
#ContentRobotService_LabelRobotRotQ2 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotRotQ2 {
		z-index: 15;
}
#ContentRobotService_LabelRobotRotQ3 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotRotQ3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotRotQ3 {
	@include elemTop(210);
}
#ContentRobotService_LabelRobotRotQ3 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotRotQ3 {
		z-index: 16;
}
#ContentRobotService_LabelRobotRotQ4 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotRotQ4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotRotQ4 {
	@include elemTop(250);
}
#ContentRobotService_LabelRobotRotQ4 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotRotQ4 {
		z-index: 21;
}
#ContentRobotService_LabelRobotConf1 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotConf1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotConf1 {
	@include elemTop(290);
}
#ContentRobotService_LabelRobotConf1 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotConf1 {
		z-index: 17;
}
#ContentRobotService_LabelRobotConf4 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotConf4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotConf4 {
	@include elemTop(330);
}
#ContentRobotService_LabelRobotConf4 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotConf4 {
		z-index: 18;
}
#ContentRobotService_LabelRobotConf6 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotConf6 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotConf6 {
	@include elemTop(370);
}
#ContentRobotService_LabelRobotConf6 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotConf6 {
		z-index: 19;
}
#ContentRobotService_LabelRobotConfX {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotConfX {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotConfX {
	@include elemTop(410);
}
#ContentRobotService_LabelRobotConfX {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotConfX {
		z-index: 20;
}
#ContentRobotService_GroupRobotJointtarget {
	@include elemTop(10);
}
#ContentRobotService_GroupRobotJointtarget {
	@include elemLeft(240);
}
#ContentRobotService_GroupRobotJointtarget {
	@include elemWidth(220);
}
#ContentRobotService_GroupRobotJointtarget {
	@include elemHeight(285);
}
#ContentRobotService_GroupRobotJointtarget {
		z-index: 1;
}
#ContentRobotService_GroupRobotJointtarget {
		border-width: 1px;
}
#ContentRobotService_GroupRobotJointtarget {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotService_GroupRobotJointtarget {
		border-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_GroupRobotJointtarget {
	> .header{
		border-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotService_NumOutRobotAx1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotAx1 {
	@include elemTop(10);
}
#ContentRobotService_NumOutRobotAx1 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotAx1 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotAx1 {
		z-index: 0;
}
#ContentRobotService_NumOutRobotAx1 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotAx1 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotAx1 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotAx1 {
	@include elemTop(10);
}
#ContentRobotService_LabelRobotAx1 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotAx1 {
		z-index: 1;
}
#ContentRobotService_NumOutRobotAx2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotAx2 {
	@include elemTop(50);
}
#ContentRobotService_NumOutRobotAx2 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotAx2 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotAx2 {
		z-index: 2;
}
#ContentRobotService_NumOutRobotAx2 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotAx2 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotAx2 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotAx2 {
	@include elemTop(50);
}
#ContentRobotService_LabelRobotAx2 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotAx2 {
		z-index: 3;
}
#ContentRobotService_NumOutRobotAx3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotAx3 {
	@include elemTop(90);
}
#ContentRobotService_NumOutRobotAx3 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotAx3 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotAx3 {
		z-index: 4;
}
#ContentRobotService_NumOutRobotAx3 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotAx3 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotAx3 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotAx3 {
	@include elemTop(90);
}
#ContentRobotService_LabelRobotAx3 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotAx3 {
		z-index: 5;
}
#ContentRobotService_NumOutRobotAx4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotAx4 {
	@include elemTop(130);
}
#ContentRobotService_NumOutRobotAx4 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotAx4 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotAx4 {
		z-index: 6;
}
#ContentRobotService_NumOutRobotAx4 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotAx4 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotAx4 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotAx4 {
	@include elemTop(130);
}
#ContentRobotService_LabelRobotAx4 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotAx4 {
		z-index: 7;
}
#ContentRobotService_NumOutRobotAx5 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotAx5 {
	@include elemTop(170);
}
#ContentRobotService_NumOutRobotAx5 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotAx5 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotAx5 {
		z-index: 8;
}
#ContentRobotService_NumOutRobotAx5 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotAx5 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotAx5 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotAx5 {
	@include elemTop(170);
}
#ContentRobotService_LabelRobotAx5 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotAx5 {
		z-index: 9;
}
#ContentRobotService_NumOutRobotAx6 {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotAx6 {
	@include elemTop(210);
}
#ContentRobotService_NumOutRobotAx6 {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotAx6 {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotAx6 {
		z-index: 10;
}
#ContentRobotService_NumOutRobotAx6 {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotAx6 {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotAx6 {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotAx6 {
	@include elemTop(210);
}
#ContentRobotService_LabelRobotAx6 {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotAx6 {
		z-index: 11;
}
#ContentRobotService_GroupRobotJointtarget1 {
	@include elemTop(305);
}
#ContentRobotService_GroupRobotJointtarget1 {
	@include elemLeft(240);
}
#ContentRobotService_GroupRobotJointtarget1 {
	@include elemWidth(220);
}
#ContentRobotService_GroupRobotJointtarget1 {
	@include elemHeight(285);
}
#ContentRobotService_GroupRobotJointtarget1 {
		z-index: 2;
}
#ContentRobotService_GroupRobotJointtarget1 {
		border-width: 1px;
}
#ContentRobotService_GroupRobotJointtarget1 {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotService_GroupRobotJointtarget1 {
		border-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_GroupRobotJointtarget1 {
	> .header{
		border-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotService_NumOutRobotEaxa {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotEaxa {
	@include elemTop(10);
}
#ContentRobotService_NumOutRobotEaxa {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotEaxa {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotEaxa {
		z-index: 0;
}
#ContentRobotService_NumOutRobotEaxa {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotEaxa {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotEaxa {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotEaxa {
	@include elemTop(10);
}
#ContentRobotService_LabelRobotEaxa {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotEaxa {
		z-index: 1;
}
#ContentRobotService_NumOutRobotEaxb {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotEaxb {
	@include elemTop(50);
}
#ContentRobotService_NumOutRobotEaxb {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotEaxb {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotEaxb {
		z-index: 2;
}
#ContentRobotService_NumOutRobotEaxb {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotEaxb {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotEaxb {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotEaxb {
	@include elemTop(50);
}
#ContentRobotService_LabelRobotEaxb {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotEaxb {
		z-index: 3;
}
#ContentRobotService_NumOutRobotEaxc {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotEaxc {
	@include elemTop(90);
}
#ContentRobotService_NumOutRobotEaxc {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotEaxc {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotEaxc {
		z-index: 4;
}
#ContentRobotService_NumOutRobotEaxc {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotEaxc {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotEaxc {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotEaxc {
	@include elemTop(90);
}
#ContentRobotService_LabelRobotEaxc {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotEaxc {
		z-index: 5;
}
#ContentRobotService_NumOutRobotEaxd {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotEaxd {
	@include elemTop(130);
}
#ContentRobotService_NumOutRobotEaxd {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotEaxd {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotEaxd {
		z-index: 6;
}
#ContentRobotService_NumOutRobotEaxd {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotEaxd {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotEaxd {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotEaxd {
	@include elemTop(130);
}
#ContentRobotService_LabelRobotEaxd {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotEaxd {
		z-index: 7;
}
#ContentRobotService_NumOutRobotEaxe {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotEaxe {
	@include elemTop(170);
}
#ContentRobotService_NumOutRobotEaxe {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotEaxe {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotEaxe {
		z-index: 8;
}
#ContentRobotService_NumOutRobotEaxe {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotEaxe {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotEaxe {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotEaxe {
	@include elemTop(170);
}
#ContentRobotService_LabelRobotEaxe {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotEaxe {
		z-index: 9;
}
#ContentRobotService_NumOutRobotEaxf {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotEaxf {
	@include elemTop(210);
}
#ContentRobotService_NumOutRobotEaxf {
	@include elemLeft(90);
}
#ContentRobotService_NumOutRobotEaxf {
	@include elemAutoWidth(110);
}
#ContentRobotService_NumOutRobotEaxf {
		z-index: 10;
}
#ContentRobotService_NumOutRobotEaxf {
		padding: 0px 5px 0px 5px;
}
#ContentRobotService_LabelRobotEaxf {
	@include elemAutoWidth(80);
}
#ContentRobotService_LabelRobotEaxf {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotEaxf {
	@include elemTop(210);
}
#ContentRobotService_LabelRobotEaxf {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotEaxf {
		z-index: 11;
}
#ContentRobotService_GroupRobotSpeed {
	@include elemTop(510);
}
#ContentRobotService_GroupRobotSpeed {
	@include elemLeft(10);
}
#ContentRobotService_GroupRobotSpeed {
	@include elemWidth(220);
}
#ContentRobotService_GroupRobotSpeed {
	@include elemHeight(130);
}
#ContentRobotService_GroupRobotSpeed {
		z-index: 3;
}
#ContentRobotService_GroupRobotSpeed {
		border-width: 1px;
}
#ContentRobotService_GroupRobotSpeed {
	> .header{
		border-width: 1px;
	}
}
#ContentRobotService_GroupRobotSpeed {
		border-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_GroupRobotSpeed {
	> .header{
		border-color: rgba(255, 255, 255, 1);
	}
}
#ContentRobotService_NumOutRobotSpeedRef {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotSpeedRef {
	@include elemTop(10);
}
#ContentRobotService_NumOutRobotSpeedRef {
	@include elemLeft(80);
}
#ContentRobotService_NumOutRobotSpeedRef {
	@include elemAutoWidth(120);
}
#ContentRobotService_NumOutRobotSpeedRef {
		z-index: 0;
}
#ContentRobotService_NumOutRobotSpeedRef {
		padding: 0px 5px 0px 15px;
}
#ContentRobotService_LabelRobotSpeedRef {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotSpeedRef {
	@include elemTop(10);
}
#ContentRobotService_LabelRobotSpeedRef {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotSpeedRef {
	@include elemAutoWidth(90);
}
#ContentRobotService_LabelRobotSpeedRef {
		z-index: 1;
}
#ContentRobotService_NumOutRobotSpeedCur {
	@include elemAutoHeight(30);
}
#ContentRobotService_NumOutRobotSpeedCur {
	@include elemTop(50);
}
#ContentRobotService_NumOutRobotSpeedCur {
	@include elemLeft(80);
}
#ContentRobotService_NumOutRobotSpeedCur {
	@include elemAutoWidth(120);
}
#ContentRobotService_NumOutRobotSpeedCur {
		z-index: 2;
}
#ContentRobotService_NumOutRobotSpeedCur {
		padding: 0px 5px 0px 15px;
}
#ContentRobotService_LabelRobotSpeedCur {
	@include elemAutoHeight(30);
}
#ContentRobotService_LabelRobotSpeedCur {
	@include elemTop(50);
}
#ContentRobotService_LabelRobotSpeedCur {
	@include elemLeft(10);
}
#ContentRobotService_LabelRobotSpeedCur {
	@include elemAutoWidth(90);
}
#ContentRobotService_LabelRobotSpeedCur {
		z-index: 3;
}
#ContentRobotService_TextRobotWorkobject {
	@include elemAutoHeight(30);
}
#ContentRobotService_TextRobotWorkobject {
	@include elemTop(605);
}
#ContentRobotService_TextRobotWorkobject {
	@include elemLeft(300);
}
#ContentRobotService_TextRobotWorkobject {
	@include elemAutoWidth(160);
}
#ContentRobotService_TextRobotWorkobject {
		z-index: 5;
}
#ContentRobotService_TextRobotWorkobject {
	@include text-alignment-all('right');
}
#ContentRobotService_TextRobotWorkobject {
		font-size: 14px;
}
#ContentRobotService_LabelRobotWobj {
	@include elemTop(600);
}
#ContentRobotService_LabelRobotWobj {
	@include elemLeft(240);
}
#ContentRobotService_LabelRobotWobj {
	@include elemAutoWidth(220);
}
#ContentRobotService_LabelRobotWobj {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotWobj {
		z-index: 4;
}
#ContentRobotService_LabelRobotWobj {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotWobj {
	span{
		padding: 5px 10px 5px 10px;
	}
}
#ContentRobotService_TextRobotTool {
	@include elemAutoHeight(30);
}
#ContentRobotService_TextRobotTool {
	@include elemTop(655);
}
#ContentRobotService_TextRobotTool {
	@include elemLeft(300);
}
#ContentRobotService_TextRobotTool {
	@include elemAutoWidth(160);
}
#ContentRobotService_TextRobotTool {
		z-index: 7;
}
#ContentRobotService_TextRobotTool {
	@include text-alignment-all('right');
}
#ContentRobotService_TextRobotTool {
		font-size: 14px;
}
#ContentRobotService_LabelRobotTool {
	@include elemTop(650);
}
#ContentRobotService_LabelRobotTool {
	@include elemLeft(240);
}
#ContentRobotService_LabelRobotTool {
	@include elemAutoWidth(220);
}
#ContentRobotService_LabelRobotTool {
	@include elemAutoHeight(40);
}
#ContentRobotService_LabelRobotTool {
		z-index: 6;
}
#ContentRobotService_LabelRobotTool {
		background-color: rgba(255, 255, 255, 1);
}
#ContentRobotService_LabelRobotTool {
	span{
		padding: 5px 10px 5px 10px;
	}
}
