#RobotServiceTitle_LabelRobotServiceTitle {
  top: 20px;
  position: absolute;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  left: 0px;
  position: absolute;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  width: 400px;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  height: 80px;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  z-index: 0;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  border-width: 0px 0px 0px 4px;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  border-color: #f89825;
}

#RobotServiceTitle_LabelRobotServiceTitle:before {
  border-color: #f89825;
}

#RobotServiceTitle_LabelRobotServiceTitle:after {
  border-color: #f89825;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  border-style: solid;
}

#RobotServiceTitle_LabelRobotServiceTitle:before {
  border-style: solid;
}

#RobotServiceTitle_LabelRobotServiceTitle:after {
  border-style: solid;
}

#RobotServiceTitle_LabelRobotServiceTitle span {
  color: #f89825;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  font-size: 24px;
}

#RobotServiceTitle_LabelRobotServiceTitle {
  font-weight: normal;
}

#RobotServiceTitle_LabelRobotServiceTitle span {
  padding: 5px 15px;
}
