﻿@import "mixins.scss";
#RobotServiceTitle_LabelRobotServiceTitle {
	@include elemTop(20);
}
#RobotServiceTitle_LabelRobotServiceTitle {
	@include elemLeft(0);
}
#RobotServiceTitle_LabelRobotServiceTitle {
	@include elemAutoWidth(400);
}
#RobotServiceTitle_LabelRobotServiceTitle {
	@include elemAutoHeight(80);
}
#RobotServiceTitle_LabelRobotServiceTitle {
		z-index: 0;
}
#RobotServiceTitle_LabelRobotServiceTitle {
		border-width: 0px 0px 0px 4px;
}
#RobotServiceTitle_LabelRobotServiceTitle {
		border-color: rgba(248, 152, 37, 1);
}
#RobotServiceTitle_LabelRobotServiceTitle {
	&:before{
		border-color: rgba(248, 152, 37, 1);
	}
}
#RobotServiceTitle_LabelRobotServiceTitle {
	&:after{
		border-color: rgba(248, 152, 37, 1);
	}
}
#RobotServiceTitle_LabelRobotServiceTitle {
		border-style: solid;
}
#RobotServiceTitle_LabelRobotServiceTitle {
	&:before{
		border-style: solid;
	}
}
#RobotServiceTitle_LabelRobotServiceTitle {
	&:after{
		border-style: solid;
	}
}
#RobotServiceTitle_LabelRobotServiceTitle {
	& span{
		color: rgba(248, 152, 37, 1);
	}
}
#RobotServiceTitle_LabelRobotServiceTitle {
		font-size: 24px;
}
#RobotServiceTitle_LabelRobotServiceTitle {
	@include font-weight-bold(false);
}
#RobotServiceTitle_LabelRobotServiceTitle {
	span{
		padding: 5px 15px;
	}
}
